#AI
.claude/
AGENTS.md
CLAUDE.md
CODING_RULES.md

# Node
node_modules/

# macOS
.DS_Store

# build assets
db_current_spec.txt
assets/css/
_maintenance_log
_zz_specification/
cms_config/database/set_db.php
cms_config/api/eccube/eccube_api_config.php
tmp_upload/
