/*==========================================================
	フォント読み込み
==========================================================*/
/*==========================================================
	フォント指定
==========================================================*/
@mixin SunSerif {
    font-family: "Hiragino Kaku Gothic ProN", "Helvetica Neue", Arial,
        "Hiragino Sans", Meiryo, sans-serif;
    font-weight: 400;
    font-style: normal;
}
@mixin Serif {
    font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝Pro",
        "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    font-weight: 400;
    font-style: normal;
}
