/*===============================
    レイアウトmixin
===============================*/
@use "./_variable" as *;
@use "./_font" as *;
@use "./svg" as *;
@use "./mixin_decoration" as *;

/*================================
 DT-ポジションTOP
--------------------------------*/
@mixin dt-top {
    dt {
        align-self: start;
        padding-top: 0.3em;
    }
}
/*================================
 メインコンテンツ白背景ボックス
--------------------------------*/
@mixin layoutContentsWhiteBlock {
    display: flex;
    flex-direction: column;
    // width: stretch;
    width: stretch;
    margin: 1.5em 1.4em 3.25em;
    flex-grow: 1;
    background-color: #fff;
    border: 1px solid #c7c7c7;
    border-radius: 1.2rem;
    @media (max-width: 1025px) {
        margin-inline: 0;
    }
    // 宿／プラン済み
    // 組合・宿／宿管理済み
}

/*================================
 ベースフォームレイアウト(article内)
--------------------------------*/

@mixin base-form-article {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 86rem;
    & > dl {
        width: 100%;
        font-size: inherit;
        display: grid;
        gap: 1.5em 0;
        margin-top: 3em;
        grid-template-columns: 10em 1fr;
        & > div {
            font-size: inherit;
            display: grid;
            grid-template-columns: subgrid;
            gap: 0 2em;
            align-items: center;
            grid-column: span 2;
            & > dt {
                font-size: FZ(16);
                font-weight: 700;
                position: relative;
                span {
                    position: absolute;
                    left: 0;
                    top: 100%;
                    font-weight: 400;
                    width: max-content;
                }
                &:has(span) {
                    translate: 0 -0.5em;
                }
                &.required {
                    &::after {
                        content: "※";
                        color: #c40000;
                        font-size: 1.2rem;
                        margin-left: 0.3em;
                        display: inline-block;
                        translate: 0 -0.1em;
                    }
                }
            }
            & > dd {
                font-size: inherit;
                width: 100%;
                input[type="text"] {
                    height: 4rem;
                    font-size: FZ(16);
                }
            }
        }
    }
}

/*================================
 メインコンテンツオレンジ背景
--------------------------------*/
// @mixin layout-inner-main($direction: column) {
//     flex: 1;
//     background-color: $main-orange;
//     padding: 5rem;
//     display: flex;
//     flex-direction: $direction;
//     &::before {
//         content: "";
//         position: absolute;
//         inset: 0;
//         background-color: #fffbf5;
//         margin: 2rem;
//         border-radius: $radius40;
//     }
// }
// @mixin layout-inner-main-grid {
//     flex: 1;
//     background-color: $main-orange;
//     padding: 5rem;
//     display: grid;
//     grid-template-columns: auto 1fr;
//     &::before {
//         content: "";
//         position: absolute;
//         inset: 0;
//         background-color: #fffbf5;
//         margin: 2rem;
//         border-radius: $radius40;
//     }
// }
/*================================
 セクションコンテンツ薄オレンジ背景
--------------------------------*/
// @mixin layout-container-section {
//     background-color: #ffeed4;
//     border-radius: 26px;
//     padding-top: 3rem;
//     padding-inline: 4rem;
//     display: flex;
//     flex-direction: column;
//     gap: 1.6rem;
//     h2 {
//         font-size: FZ(20);
//         font-weight: 600;
//     }
// }
/*================================
 検索(絞り込み)ブロック
--------------------------------*/
// @mixin layout-block-search {
//     background-color: #fff;
//     border-radius: $radius20;
//     padding-top: 19px;
//     display: flex;
//     flex-direction: column;
//     @include drop-shadow;
//     .btn-switch {
//         position: absolute;
//         right: 3rem;
//         top: 1.3rem;
//         @include btn-toggle;
//     }
//     h3 {
//         font-size: FZ(18);
//         font-weight: 600;
//         margin-left: 25px;
//         margin-bottom: 19px;
//     }
//     article {
//         position: relative;
//         display: grid;
//         grid-template-rows: 0fr;
//         transition: 0.2s ease-out;
//         .blockGrid {
//             overflow: hidden;
//             position: relative;
//             font-size: inherit;
//             display: flex;
//             flex-direction: column;
//             & > ul {
//                 position: relative;
//                 width: 100%;
//                 font-size: inherit;
//                 border-top: 1px solid $border-gray;
//                 border-bottom: 1px solid $border-gray;
//                 & > li {
//                     position: relative;
//                     font-size: inherit;
//                     padding-block: 1rem;
//                     display: flex;
//                     align-items: center;
//                     gap: 0 0.8em;
//                     h4 {
//                         font-size: FZ(16);
//                         font-weight: 300;
//                         width: max-content;
//                         display: block;
//                     }
//                     .wrap-select {
//                         position: relative;
//                         font-size: inherit;
//                         display: flex;
//                         gap: 0 0.4rem;
//                         .item-check-box {
//                             position: relative;
//                             font-size: inherit;
//                             @include item-check-box;
//                         }
//                     }
//                 }
//             }
//         }
//         &.is-active {
//             pointer-events: auto;
//             grid-template-rows: 1fr;
//             .blockGrid {
//                 overflow: unset;
//             }
//         }
//     }
// }
/*================================
 リスト表示部分白背景ブロック
--------------------------------*/
// @mixin layout-block-article {
//     display: flex;
//     flex-direction: column;
//     background-color: #fff;
//     padding-top: 12px;
//     border-radius: $radius20;
//     @include drop-shadow;
//     .box-head {
//         position: relative;
//         font-size: inherit;
//         display: flex;
//         align-items: center;
//         gap: 0 2em;
//         .announce-results {
//             display: flex;
//             align-items: center;
//             font-size: 1.6rem;
//             font-weight: 300;
//             margin-left: 25px;
//             span {
//                 font-size: 1.8rem;
//                 font-weight: 600;
//                 margin-inline: 0.2em;
//             }
//         }
//         .list-display {
//             margin-left: 6em;
//             z-index: 10;
//             width: 7.4rem;
//             @include select-list-box(
//                 $height: 4.4rem,
//                 $position: "left",
//                 $list-height: 3rem
//             );
//             .selectbox__head {
//                 padding-inline: 1em;
//             }
//             .list-wrapper {
//                 .selectbox__panel {
//                     li {
//                         label {
//                             padding-left: 1.2em;
//                         }
//                     }
//                 }
//             }
//             &::before,
//             &::after {
//                 position: absolute;
//                 top: 50%;
//                 translate: 0 -50%;
//                 font-size: 1.4rem;
//             }
//             &::before {
//                 content: "表示件数";
//                 right: calc(100% + 0.5em);
//                 width: max-content;
//             }
//             &::after {
//                 content: "件";
//                 left: calc(100% + 0.3em);
//             }
//         }
//     }
// }
/*=========================================
ページ内LEFTメニュー
-----------------------------------------*/
// @mixin container-left-menu {
//     grid-row: span 2;
//     position: relative;
//     display: flex;
//     flex-direction: column;
//     padding-top: 2rem;
//     min-width: 208px;
//     h2 {
//         font-size: FZ(16);
//         font-weight: 600;
//         color: #696969;
//         border-bottom: 1px solid #e2e0db;
//         padding-bottom: 0.3em;
//     }
//     nav {
//         position: relative;
//         font-size: inherit;
//         display: flex;
//         flex-direction: column;
//         padding-top: 2.4rem;
//         padding-right: 2.4rem;
//         gap: 8px 0;
//         a,
//         span {
//             position: relative;
//             height: 40px;
//             border-radius: 8px;
//             display: flex;
//             align-items: center;
//             padding-left: 1.8rem;
//             font-size: FZ(16);
//             font-weight: 300;
//         }
//         a {
//             transition: 0.3s ease-out;
//             &.is-active {
//                 color: #fff;
//                 background-color: $main-orange;
//             }
//             &:hover {
//                 background-color: #ffeed4;
//             }
//             &:active {
//                 background-color: transparent;
//             }
//         }
//         span {
//             color: #fff;
//             background-color: $main-orange;
//         }
//     }
// }
/*=========================================
タイトル付テーブルレイアウト
-----------------------------------------*/
@mixin layout-table-list($columns, $columns-count) {
    position: relative;
    font-size: 1em;
    display: grid;
    grid-template-columns: $columns;
    border-top: 1px solid $border-gray;
    & > li {
        position: relative;
        font-size: inherit;
        grid-column: span $columns-count;
        display: grid;
        grid-template-columns: subgrid;
        border-bottom: 1px solid $border-gray;
        transition: 0.3s ease-out;
        z-index: +1;
        &:not(:first-of-type) {
            cursor: pointer;
            transition: 0.3s ease-out;
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                background-color: #edf1f8;
                z-index: -1;
                opacity: 0;
            }
            &:hover {
                &::before {
                    opacity: 1;
                }
            }
            &:active {
                &::before {
                    background-color: #fff;
                }
            }
            &:nth-of-type(2n - 1) {
                background-color: #f7f7f7;
            }
        }
        & > div {
            position: relative;
            font-size: FZ(14);
            &:not(:last-of-type) {
                border-right: 1px solid $border-gray;
            }
        }
        &:first-of-type {
            background-color: #e6e6e6;
            min-height: 2em;
            & > div {
                height: 36px;
                font-size: FZ(14);
                padding-inline: 0.8em;
                padding-inline: 1.8rem;
                @include flex-center(column);
                .wrap-sort-btn {
                    display: flex;
                    gap: 0 0.2rem;
                    margin-left: 0.5rem;
                    button {
                        position: relative;
                        display: block;
                        width: 1.8rem;
                        aspect-ratio: 1;
                        background-color: #f7f7f7;
                        border-radius: 50%;
                        transition: 0.3s ease-out;
                        &::before {
                            content: "";
                            position: absolute;
                            inset: 0;
                            margin: auto;
                            width: 8px;
                            aspect-ratio: 1/0.85;
                            background-color: $font-black;
                            clip-path: polygon(0 100%, 50% 0, 100% 100%);
                            transition: 0.3se ease-out;
                        }
                        &.arrow-top {
                            &::before {
                                translate: 0 -1px;
                            }
                        }
                        &.arrow-bottom {
                            &::before {
                                scale: 1 -1;
                                translate: 0 1px;
                            }
                        }
                        &.is-active {
                            background-color: $hover-blue;
                            &::before {
                                background-color: #fff;
                            }
                        }
                        &:not(.is-active) {
                            &:hover {
                                background-color: $hover-bg-blue;
                                &::before {
                                    background-color: $font-black;
                                }
                            }
                        }
                        &:active {
                            background-color: #f7f7f7;
                            &::before {
                                background-color: $font-black;
                            }
                        }
                    }
                }
            }
        }
    }
}
/*=========================================
下部ページャーブロック
-----------------------------------------*/
// @mixin layout-pager {
//     position: relative;
//     font-size: 1em;
//     display: flex;
//     justify-content: flex-end;
//     padding: 1.6rem 2.4rem;
//     gap: 0 1em;
//     .box_number {
//         font-size: 1em;
//         display: flex;
//         gap: 0 0.5em;
//         align-items: center;
//         nav {
//             position: relative;
//             font-size: 1em;
//             display: flex;
//             gap: 0 0.8em;
//             align-items: center;
//             counter-reset: number 0;
//             a {
//                 font-size: FZ(14);
//                 width: 1em;
//                 aspect-ratio: 1;
//                 display: grid;
//                 place-items: center;
//                 color: #ababab;
//                 transition: 0.3s ease-out;
//                 &::before {
//                     content: counter(number);
//                     counter-increment: number 1;
//                 }
//                 &.is-active {
//                     color: $font-black;
//                     font-weight: 600;
//                 }
//                 &:not(.is-active):hover {
//                     color: $hover-blue;
//                     font-weight: 600;
//                 }
//             }
//         }
//         button {
//             position: relative;
//             width: 3.6rem;
//             aspect-ratio: 1;
//             display: grid;
//             place-items: center;
//             &::before,
//             &::after {
//                 content: "";
//                 position: absolute;
//                 transition: 0.3s ease-out;
//             }
//             &::after {
//                 @include svg-icon-arrow-bottom("403726");
//                 width: 1rem;
//                 translate: 2px -1px;
//             }
//             &::before {
//                 background-color: #e6edf7;
//                 border-radius: 50%;
//                 inset: 0;
//                 opacity: 0;
//             }
//             &.btn_prev {
//                 &::after {
//                     rotate: 90deg;
//                 }
//             }
//             &.btn_next {
//                 &::after {
//                     rotate: -90deg;
//                 }
//             }
//             &:hover {
//                 &::before,
//                 &::after {
//                     opacity: 1;
//                 }
//             }
//             &:active {
//                 &::before {
//                     opacity: 1;
//                     background-color: $hover-blue;
//                 }
//                 &::after {
//                     @include svg-icon-arrow-bottom("ffffff");
//                 }
//             }
//         }
//     }
//     .box_input {
//         font-size: 1em;
//         input {
//             width: 7rem;
//             height: 40px;
//             font-size: FZ(14);
//             @include flex-center;
//             padding-inline: unset;
//             text-align: center;
//         }
//     }
// }
