@use "./reset_v2.5" as *;
@use "./variable" as *;
@use "./svg" as *;

/* =================================
 * フォント設定
 * ------------------------------ */

/* フォント設定 */
@mixin SunSerif {
    font-family:
        var(--font-roboto), "Noto Sans JP", "Helvetica Neue", Arial,
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", Meiryo,
        sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* =================================
 * カラー変数
 * ------------------------------ */

$main-black: #1a1a1a;
$main-white: #fff;

/*==========================================================
global
==========================================================*/
body {
    @include SunSerif;

    // font-feature-settings: "palt";
    font-size: clamp(1.2rem, calc($base-vw * 1vw) + calc($slice * 1px), 1.6rem);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: space-between;
    width: 100%;
    color: $main-black;
    background-color: #eaebec;
    @include tbw {
        overflow-x: clip;
    }
    @include tb {
        font-size: 1.4vw;
    }
    @include sp {
        font-size: 3.6vw;
    }
}
main {
    font-size: inherit;
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}
section,
article,
header,
footer {
    width: 100%;
    position: relative;
    font-size: inherit;
    z-index: 1;
}
svg {
    width: 100%;
    fill: unset;
    stroke: unset;
}
br {
    &.pc {
        @include sp {
            display: none;
        }
    }
    &.sp {
        display: none;
        @include sp {
            display: inline;
        }
    }
}
@include pc {
    a[href^="tel:"] {
        pointer-events: none;
        cursor: default;
    }
}
/*=========================================
中央寄せ
-----------------------------------------*/
@mixin flex-center($direction: row) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;
}

/*==========================================================
ECサイト用
==========================================================*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12rem 4vw 8rem;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        height: 100dvh;
        background: url(../images/section-bg.webp) no-repeat center center /
            cover;
        opacity: 0.3;
        z-index: -1;
    }
    article {
        position: relative;
        max-width: 1086px;
        background-color: rgba(#fff, 0.5);
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 4rem 4rem 8rem;
        z-index: 1;
        .headLogo {
            position: absolute;
            z-index: 10;
            top: -5rem;
            left: 50%;
            translate: -50%;
            svg {
                width: 11rem;
                fill: #1a1a1a;
            }
        }
        .box-head {
            position: relative;
            display: flex;
            justify-content: space-between;
            .wrap-cart {
                position: relative;
                display: grid;
                grid-template-columns: auto 1fr;
                gap: 0 1rem;
                i {
                    position: relative;
                    grid-row: span 2;
                    width: 4.8rem;
                    aspect-ratio: 1;
                    border-radius: 50%;
                    border: 1px solid;
                    &::before {
                        content: "";
                        position: absolute;
                        inset: 0;
                        margin: auto;
                        width: 2.2rem;
                        @include svg-icon-cart("1a1a1a");
                    }
                }
                h2 {
                    font-size: 2.4rem;
                    font-weight: 600;
                }
                p {
                    font-size: 1.4rem;
                    font-weight: 600;
                }
            }
            .item-link {
                align-self: flex-start;
                font-size: 1.6rem;
                border: 1px solid;
                border-radius: 4px;
                padding: 0.5em 2em;
            }
        }
        .box-status {
            position: relative;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            margin-top: 10rem;
            &::before {
                content: "";
                position: absolute;
                left: 50%;
                translate: -50%;
                width: 80%;
                height: 1px;
                background-color: #1a1a1a;
            }
            li {
                position: relative;
                --status-color: #1a1a1a;
                color: var(--status-color);
                span {
                    position: absolute;
                    left: 50%;
                    translate: -50%;
                    font-size: 1.2rem;
                    font-weight: 600;
                    bottom: calc(100% + 2em);
                    text-align: center;
                    width: max-content;
                }
                &::before {
                    content: "";
                    position: absolute;
                    left: 50%;
                    translate: -50%;
                    width: 1.2rem;
                    aspect-ratio: 1;
                    border-radius: 50%;
                    background-color: var(--status-color);
                    top: -6px;
                }
                &.is-active {
                    --status-color: #a5945a;
                    &::before {
                        width: 2.8rem;
                        top: -14px;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        inset: 0;
                        margin: auto;
                        width: 1.1rem;
                        @include svg-icon-check("fff");
                    }
                }
            }
        }
    }
}
/*==========================================================
footer
==========================================================*/
footer {
    @include flex-center;
    background-color: $main-black;
    color: $main-white;
    padding: 8rem 4vw 10rem;
    gap: 0 12.5em;
    @include sp {
        padding: 8vw 8vw;
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;
    }
    section {
        display: flex;
        justify-content: space-between;
        max-width: 87rem;
        @include sp {
            display: contents;
        }
        nav {
            position: relative;
            font-size: inherit;
            display: flex;
            flex-direction: column;
            gap: 0.8em 0;
            @include sp {
                gap: 0;
            }
            a {
                font-size: FZ(14);
                @include sp {
                    font-size: FZ(16);
                    padding-block: 2vw;
                    font-weight: 400;
                }
            }
        }
        .boxLogo {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3.5rem 0;
            font-size: inherit;
            @include sp {
                display: contents;
                a {
                    order: -1;
                    align-self: center;
                }
            }
            svg {
                width: 15rem;
                fill: #fff;
                @include sp {
                    width: 50vw;
                    margin-bottom: 8vw;
                }
            }
            .copyRight {
                font-size: FZ(12);
                @include sp {
                    order: 1;
                    color: #605c5c;
                    margin-top: 10vw;
                }
            }
        }
    }
}
