/*==========================================================
店舗一覧
==========================================================*/
@use "./_reset_v2.5" as *;
@use "./_variable" as *;
@use "./svg" as *;
@use "./_font" as *;
@use "./_common" as *;
@use "./mixin_decoration" as *;
@use "./mixin_layout" as *;

/*=========================================
戻る・TOPボタン
-----------------------------------------*/
.link_page-back_bottom {
    @include linkPageBack_bottom;
}
.link_page-back_top {
    @include linkPageBack_top;
}
/*=========================================
店舗一覧
-----------------------------------------*/
.inner-03-01 {
    .head_search_setting {
        @include layoutContentsWhiteBlock;
        border-bottom-left-radius: unset;
        border-bottom-right-radius: unset;
        z-index: 3;
        flex-grow: unset;
        h3 {
            @include decorationHeadH3;
        }
        dl {
            position: relative;
            font-size: inherit;
            display: grid;
            grid-template-columns: auto 1fr auto 1fr;
            border-top: 1px solid #c7c7c7;
            & > div {
                font-size: inherit;
                grid-column: span 2;
                display: grid;
                grid-template-columns: subgrid;
                padding: 0.6em clamp(1rem, 1.6em, 3.6rem);
                align-items: center;
                border-bottom: 1px solid #c7c7c7;
                gap: 0 2em;
            }
            dt {
                font-size: FZ(14);
                display: flex;
                flex-direction: column;
            }
            dd {
                position: relative;
                font-size: 1em;
                display: flex;
                input [type="text"],
                input [type="tel"] {
                    height: 4.4rem;
                }
            }
            .box_shop {
                grid-column: span 4;
                display: grid;
                grid-template-columns: subgrid;
                dd {
                    grid-column: span 3;
                    .select-shop-name {
                        width: 100%;
                        @include select-list-box(
                            $height: 4.4rem,
                            $position: "left",
                            $list-height: 3.4rem
                        );
                    }
                }
            }
            .box-status {
                border-right: 1px solid #c7c7c7;
                dd {
                    .select-search-status {
                        width: 100%;
                        @include select-list-box(
                            $height: 4.4rem,
                            $position: "left",
                            $list-height: 3.4rem
                        );
                    }
                }
            }
            .box-date {
                dd {
                    .wrap-period {
                        width: 37rem;
                        @include item-period;
                    }
                }
            }
            .box-tel,
            .box-name {
                border-right: 1px solid #c7c7c7;
            }
        }
        .box-btn {
            position: relative;
            display: flex;
            gap: 0 1em;
            font-size: inherit;
            padding-block: 1rem;
            align-self: flex-end;
            align-items: center;
            padding-right: 2.4rem;
            button {
                font-size: FZ(14);
            }
            .item-reset {
                width: 8.8rem;
                @include main-button("reset");
                height: 3.2rem;
            }
            .item-search {
                @include main-button("confirm");
                width: 24rem;
                height: 4rem;
            }
        }
    }
    .inner_search-list {
        @include layoutContentsWhiteBlock;
        border-top: unset;
        border-top-left-radius: unset;
        border-top-right-radius: unset;
        & > ul {
            @include layout-table-list(auto 1fr auto auto auto auto, 6);
            & > li {
                &:not(:first-of-type) {
                    cursor: auto;
                    &:active {
                        &::before {
                            background-color: #edf1f8;
                        }
                    }
                }
                &:first-of-type {
                    & > div {
                        &:has(span) {
                            padding-inline: unset;
                        }
                    }
                }
                .item-date {
                    font-size: inherit;
                    padding-inline: 1rem;
                    @include flex-center(column);
                    gap: 0.3em 0;
                    span {
                        font-size: FZ(14);
                    }
                    i {
                        font-size: FZ(12);
                        font-weight: 600;
                    }
                }
                .wrap-customer-info {
                    display: flex;
                    flex-direction: column;
                    font-size: inherit;
                    .shop-name {
                        font-size: inherit;
                        padding: 1rem;
                        border-bottom: 1px solid $border-gray;
                        span {
                            font-size: FZ(12);
                            border: 1px solid $border-gray;
                            border-radius: 100vmax;
                            padding: 0.5em 2em;
                            background-color: #f2f2f2;
                        }
                    }
                    .inner-customer {
                        padding: 1rem;
                        display: flex;
                        flex-direction: column;
                        font-size: inherit;
                        .name {
                            font-size: FZ(16);
                            font-weight: 600;
                            letter-spacing: 0.08em;
                        }
                        .address {
                            display: flex;
                            flex-direction: column;
                            font-size: inherit;
                            span {
                                font-size: FZ(14);
                            }
                        }
                        .tel {
                            font-size: inherit;
                            span {
                                font-size: FZ(14);
                                &::before {
                                    content: "TEL";
                                    font-weight: 400;
                                    margin-right: 0.3em;
                                }
                            }
                        }
                        .mail {
                            font-size: inherit;
                            a {
                                font-size: FZ(14);
                            }
                        }
                    }
                }
                .wrap-goods {
                    grid-column: span 3;
                    display: grid;
                    grid-template-columns: subgrid;
                    font-size: inherit;
                    grid-template-rows: auto 1fr;

                    & > ul {
                        grid-column: span 3;
                        display: grid;
                        grid-template-columns: subgrid;
                        font-size: inherit;
                        li {
                            grid-column: span 3;
                            display: grid;
                            grid-template-columns: subgrid;
                            font-size: inherit;
                            & > div {
                                padding-inline: 1rem;
                                padding-bottom: 0.5rem;
                            }
                            .goods-name {
                                font-size: FZ(14);
                                border-right: 1px solid #c7c7c7;
                            }
                            .goods-pieces {
                                font-size: FZ(14);
                                text-align: right;
                                border-right: 1px solid #c7c7c7;
                            }
                            .goods-price {
                                font-size: inherit;
                                display: flex;
                                justify-content: flex-end;
                                span {
                                    font-size: FZ(14);

                                    &::after {
                                        content: "円";
                                        font-size: 0.85em;
                                        margin-left: 0.1em;
                                    }
                                }
                            }
                            &:first-of-type {
                                & > div {
                                    padding-top: 1rem;
                                }
                            }
                        }
                    }
                    .item-price {
                        grid-column: span 3;
                        display: grid;
                        grid-template-columns: subgrid;
                        font-size: inherit;
                        border-top: 1px solid $border-gray;
                        padding: 1rem;
                        display: flex;
                        justify-content: flex-end;
                        align-items: flex-end;
                        span {
                            font-size: FZ(16);
                            font-weight: 700;
                            &::before {
                                content: "合計";
                                font-size: 0.85em;
                                font-weight: 400;
                                margin-right: 0.3em;
                            }
                            &::after {
                                content: "円(税込)";
                                font-size: 0.85em;
                                margin-left: 0.1em;
                                font-weight: 400;
                            }
                        }
                    }
                }
                .wrap-status {
                    font-size: inherit;
                    padding: 0.5em;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 0.5em 0;
                    .apply-status {
                        @include apply-status-box;
                    }
                    .date {
                        font-size: FZ(14);
                        &::before {
                            content: "(";
                            margin-right: 0.2em;
                        }
                        &::after {
                            content: ")";
                            margin-left: 0.2em;
                        }
                    }
                }
                .box-note {
                    grid-column: span 6;
                    padding: 1rem;
                    font-size: inherit;
                    display: flex;
                    border-top: 1px solid $border-gray;
                    gap: 0 1rem;
                    span {
                        width: max-content;
                        display: inline-block;
                        padding-top: 1rem;
                        font-size: FZ(14);
                    }
                    textarea {
                        width: unset;
                    }
                }
            }
        }
        // ページャー
        .box-pager {
            @include layout-pager;
        }
    }
    &.status-master {
        .inner_search-list {
            & > ul {
                & > li {
                    .wrap-status {
                        .apply-status {
                            pointer-events: none;

                            .selectbox__head {
                                &::after {
                                    display: none;
                                }
                                .selectbox__value {
                                    border-radius: 8px;
                                }
                                i {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
