/*==========================================================
店舗登録
==========================================================*/
@use "./_reset_v2.5" as *;
@use "./_variable" as *;
@use "./svg" as *;
@use "./_font" as *;
@use "./_common" as *;
@use "./mixin_decoration" as *;
@use "./mixin_layout" as *;

/*=========================================
戻る・TOPボタン
-----------------------------------------*/
// .link_page-back_bottom {
//     @include linkPageBack_bottom;
// }
.link_page-back_top {
    @include linkPageBack_top;
}
/*=========================================
店舗登録
-----------------------------------------*/
.inner-01-01-02 {
    form {
        @include layoutContentsWhiteBlock;
        // @include layoutSystemInfo;
        align-items: center;
        padding: 0 0 5em;
        z-index: 3;
        .head_title {
            background-color: #e6e6e6;
            border-top-left-radius: 1.2rem;
            border-top-right-radius: 1.2rem;
            font-size: FZ(20);
            font-weight: 700;
            width: 100%;
            height: 3.2em;
            display: flex;
            align-items: center;
            padding-left: 1em;
        }
        & > article {
            @include base-form-article;
            margin-bottom: 4em;
            margin-inline: 2em;
            & > dl {
                grid-template-columns: 10em 1fr;
                & > div {
                    textarea {
                        font-size: FZ(16);
                        min-height: 6lh;
                    }
                    &.box_comment {
                        @include dt-top;
                    }
                    &.box_image {
                        @include dt-top;
                        dd {
                            .check-details {
                                @include image-check-details;
                            }
                        }
                    }
                    &.box_slide-image {
                        @include dt-top;
                        dd {
                            & > ul {
                                font-size: 1em;
                                display: grid;
                                grid-template-columns: repeat(3, 1fr);
                                gap: 1.4em 1.4em;
                                & > li {
                                    font-size: 1em;
                                    background-color: #fafafa;
                                    display: grid;
                                    min-height: 10rem;
                                    place-items: center;
                                    @include border-image;
                                    --borderColor: #c7c7c7;
                                    --borderSize: 12px;
                                    --borderWidth: 6px;
                                    &:hover {
                                        --borderColor: #335d95;
                                    }
                                    & > button {
                                        @include main-button(reset);
                                        width: 100%;
                                        max-width: 14rem;
                                        height: 2.5em;
                                    }
                                }
                            }
                        }
                    }
                    &.box-map {
                        @include dt-top;
                        dd {
                            textarea {
                                min-height: 5lh;
                            }
                        }
                    }
                }
            }
        }
        .box-btn {
            @include box-btn;
        }
    }
}
