/*==========================================================
店舗一覧
==========================================================*/
@use "./_reset_v2.5" as *;
@use "./_variable" as *;
@use "./svg" as *;
@use "./_font" as *;
@use "./_common" as *;
@use "./mixin_decoration" as *;
@use "./mixin_layout" as *;

/*=========================================
戻る・TOPボタン
-----------------------------------------*/
.link_page-back_bottom {
    @include linkPageBack_bottom;
}
.link_page-back_top {
    @include linkPageBack_top;
}
/*=========================================
写真フォルダ
-----------------------------------------*/
.inner-01-01-01 {
    article {
        flex-grow: unset;
        h3 {
            @include decorationHeadH3;
        }
    }
    .block_01 {
        @include layoutContentsWhiteBlock;
        border-bottom-right-radius: unset;
        border-bottom-left-radius: unset;
        & > dl {
            position: relative;
            font-size: inherit;
            width: stretch;
            display: grid;
            grid-template-columns: auto auto 1fr auto;
            flex: 1;
            & > div {
                position: relative;
                font-size: inherit;
                grid-column: span 4;
                display: grid;
                grid-template-columns: subgrid;
                border-top: 1px solid $border-gray;
                &:nth-of-type(2) {
                    & > dt {
                        place-items: start center;
                        padding-top: 1.4em;
                    }
                }
                &.is-mode-edit {
                    background-color: $border-gray;
                }
                & > dt {
                    font-size: FZ(16);
                    display: grid;
                    place-items: center;
                    border-right: 1px solid $border-gray;
                    padding-inline: 1.2em;
                }
                & > dd {
                    font-size: inherit;
                    grid-column: span 3;
                    display: inherit;
                    grid-template-columns: inherit;
                    & > form {
                        font-size: inherit;
                        grid-column: inherit;
                        display: grid;
                        align-items: center;
                        padding: 0.8em 1em;
                        gap: 1em 0.8em;
                        grid-template-columns: subgrid;
                        h4 {
                            font-size: FZ(16);
                            display: grid;
                            place-items: center start;
                        }
                        input[type="text"] {
                            font-size: FZ(16);
                            height: 2.5em;
                        }
                        .btn_submit {
                            @include main-button("confirm");
                            width: 10em;
                            height: 2.5em;
                        }
                        &.box_add-photo {
                            & > div {
                                font-size: inherit;
                                display: grid;
                                grid-column: inherit;
                                grid-template-columns: subgrid;
                                align-items: center;
                                &.wrap_01 {
                                    .select-folder-name {
                                        width: 100%;
                                        grid-column: span 2;
                                        @include select-list-box(
                                            $height: 4.8rem,
                                            $position: "left",
                                            $list-height: 3.4rem
                                        );
                                    }
                                }
                                &.wrap_02 {
                                    display: flex;
                                    gap: 0 1em;
                                    .check-details {
                                        @include image-check-details;
                                    }
                                    .btn_select {
                                        width: 100%;
                                        max-width: 14rem;
                                        height: 2.5em;
                                        @include main-button("reset");
                                    }
                                    & > ul {
                                        font-size: inherit;
                                        display: flex;
                                        flex-wrap: wrap;
                                        gap: 0.5em 1em;
                                        & > li {
                                            font-size: FZ(16);
                                            display: flex;
                                            align-items: center;
                                            gap: 0 0.5em;
                                            .btn_close {
                                                position: relative;
                                                display: grid;
                                                place-items: center;
                                                width: 2rem;
                                                aspect-ratio: 1;
                                                border: 1px solid $font-black;
                                                border-radius: 50%;
                                                &::before,
                                                &::after {
                                                    content: "";
                                                    position: absolute;
                                                    inset: 0;
                                                    margin: auto;
                                                    width: 0.8rem;
                                                    height: 1px;
                                                    background-color: $font-black;
                                                }
                                                &::before {
                                                    rotate: 45deg;
                                                }
                                                &::after {
                                                    rotate: -45deg;
                                                }
                                            }
                                        }
                                    }
                                }
                                &.wrap_03 {
                                    input[type="text"] {
                                        grid-column: span 2;
                                    }
                                }
                                &.wrap_04 {
                                    & > ul {
                                        grid-column: span 2;
                                        font-size: inherit;
                                        display: flex;
                                        flex-direction: column;
                                        li {
                                            font-size: FZ(14);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .block_02 {
        @include layoutContentsWhiteBlock;
        flex-direction: row;
        section {
            display: flex;
            flex-direction: column;
        }
        .inner_left {
            @include select-image-block-left;
        }
        .inner_right {
            @include select-image-block-right;
        }
    }
}
