@charset "UTF-8";
/*==========================================================
店舗一覧
==========================================================*/
/*
Made by Elly Loel - https://ellyloel.com/
参考記事:
- Josh W Comeau - https://courses.joshwcomeau.com/css-for-js/treasure-trove/010-global-styles/
- Andy Bell - https://piccalil.li/blog/a-modern-css-reset/
- Adam Argyle - https://unpkg.com/open-props@1.3.16/normalize.min.css / https://codepen.io/argyleink/pen/KKvRORE
メモ:
- :where()は簡単に上書きできるように詳細度を低くするために使用しています。
*/
* {
  margin: 0;
  padding: 0;
  /* line-heightをemベースでcalc()で計算。font-sizeを小さくするとline-heightは大きくなり、font-sizeを大きくするとline-heightは小さくなります。参考: https://kittygiraudel.com/2020/05/18/using-calc-to-figure-out-optimal-line-height/ */
  line-height: calc(0.25rem + 1em + 0.25rem);
  font-size: 62.5%;
  font-style: normal;
  font-weight: unset;
}

/* より直感的なボックスサイズのモデルを使用 */
*,
::before,
::after {
  box-sizing: border-box;
}

/* fieldset, progress, meter以外のすべての要素でボーダーを削除し、背景に適切なデフォルトを設定 */
*:where(:not(fieldset, progress, meter)) {
  border-width: 0;
  border-style: solid;
  background-origin: border-box;
  background-repeat: no-repeat;
}

html {
  /* アプリケーションでパーセントによる高さを許可する  */
  block-size: 100%;
  /* テキストのサイズはfont-sizeのみで制御されるようにする */
  -webkit-text-size-adjust: none;
}

/* 減速を好まないユーザーのためにスムーズなスクロールを実現 */
@media (prefers-reduced-motion: no-preference) {
  html:focus-within {
    scroll-behavior: smooth;
  }
}
body {
  /* アプリケーションでパーセントによる高さを許可する */
  min-block-size: 100%;
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-gutter#example_2 */
  /* scrollbar-gutter: stable both-edges; バグが修正されるまで削除: https://bugs.chromium.org/p/chromium/issues/detail?id=1318404#c2 */
}

/* 各メディア要素のデフォルトを改善 */
:where(img, svg, video, canvas, audio, iframe, embed, object) {
  display: block;
}

:where(img, svg, video) {
  block-size: auto;
  max-inline-size: 100%;
}

/* ストロークを削除し、fillの塗りつぶしカラーはフォントカラーを継承 */
:where(svg) {
  stroke: none;
  fill: currentColor;
}

/* fill属性のないSVG */
:where(svg):where(:not([fill])) {
  /* fillを取り除き、ストロークのカラーはフォントカラーを継承 */
  stroke: currentColor;
  fill: none;
  /* 丸みを帯びたストローク */
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* width属性のないSVGのサイズを設定 */
:where(svg):where(:not([width])) {
  inline-size: 5rem;
}

/* テキストのオーバーフローを回避 */
:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}

/* リストの役割をするul、ol要素のリストスタイルを削除。デフォルトのスタイルが削除されることを示唆しています */
:where(ul, ol, li)[role=list] {
  list-style: none;
}

ul,
ol,
li {
  list-style: none;
}

/* クラスを持たないアンカータグに、より読みやすい下線スタイルを設定。アンカータグに設定することもできますが、コンフリクトを引き起こす可能性があります */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* インタラクティブな要素は適切なカーソルを設定して操作できることを明確にする */
/* フォーカスのアウトラインをアニメーション化 */
@media (prefers-reduced-motion: no-preference) {
  :focus-visible {
    transition: outline-offset 145ms cubic-bezier(0.25, 0, 0.4, 1);
  }
  :where(:not(:active)):focus-visible {
    transition-duration: 0.25s;
  }
}
:where(:not(:active)):focus-visible {
  outline-offset: 5px;
}

/* ユーザーがボタンのテキストを選択できないようにする */
:where(button, button[type], input[type=button], input[type=submit], input[type=reset]),
:where(input[type=file])::-webkit-file-upload-button,
:where(input[type=file])::file-selector-button {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
  text-align: center;
}

/* 無効化されたボタンには無効化されたカーソルを表示 */
:where(button, button[type], input[type=button], input[type=submit], input[type=reset])[disabled] {
  cursor: not-allowed;
}

time {
  font-size: 1em;
}

/*==========================================================
	共通設定 (Primary style)
==========================================================*/
html,
body {
  height: fit-content;
  min-height: 100%;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  /* スムーススクロール */
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-size: 1.6em;
}

a {
  color: inherit;
}
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

hr {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

span,
strong,
em,
small,
i,
b {
  font-size: 1em;
}

button {
  border: none;
  text-decoration: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  appearance: none;
  cursor: pointer;
}

/*==========================================================
	formタグ
==========================================================*/
/* フォーム内のタイポグラフィのスタイルを削除 */
:where(input, button, textarea, select),
:where(input[type=file])::-webkit-file-upload-button {
  color: inherit;
  font: inherit;
  font-size: inherit;
  letter-spacing: inherit;
}

/* textareaのサイズ変更は垂直のみにし、ブラウザがサポートしている場合にのみblockにします */
/*==========================================================
	管理画面用
==========================================================*/
/*==========  サイズ設定 END  =============================*/
/* =================================
 *  サイズ変数
 * ------------------------------ */
/*==========================================================
	レスポンシブ設定
==========================================================*/
/*==========================================================
	ホバー処理
==========================================================*/
/*==========================================================
	フォント読み込み
==========================================================*/
/*==========================================================
	フォント指定
==========================================================*/
/*===============================
    デコレーションmixin
===============================*/
/*=========================================
ドロップシャドウ
-----------------------------------------*/
/*=========================================
中央寄せ
-----------------------------------------*/
/*=========================================
上部H3
-----------------------------------------*/
/*================================
 戻るボタン（上部）
--------------------------------*/
/*================================
 戻るボタン（下部）
--------------------------------*/
/*================================
 ヘッド部絞り込み検索ボタン
--------------------------------*/
/*================================
 ラジオボタン・チェックボックス
--------------------------------*/
/*=========================================
上部「戻る」ボタン
-----------------------------------------*/
/*=========================================
×ボタン
-----------------------------------------*/
/*=========================================
＋開閉ボタン
-----------------------------------------*/
/*=========================================
確定・キャンセル等ボタン
-----------------------------------------*/
/*=========================================
下部「削除する」ボタン
-----------------------------------------*/
/*=========================================
下部「削除する」ボタン
-----------------------------------------*/
/*================================
 チェックボックスボタン
--------------------------------*/
/*================================
 ラジオボタン
--------------------------------*/
/*================================
 セレクトボックス(JS併用版)
--------------------------------*/
/*================================
 ステータスボックス(JS併用版)
--------------------------------*/
/*================================
 応募状況ステータス(JS併用版)
--------------------------------*/
/*================================
 トグルスイッチ
--------------------------------*/
/*================================
 日付選択
--------------------------------*/
/*=========================================
枠線装飾
-----------------------------------------*/
/*=========================================
画像セレクト部分
-----------------------------------------*/
/*=========================================
画像セレクト時の表示リスト
-----------------------------------------*/
/*=========================================
チェックボックスリスト
-----------------------------------------*/
/*===============================
    レイアウトmixin
===============================*/
/*================================
 メインコンテンツ白背景ボックス
--------------------------------*/
/*================================
 メインコンテンツオレンジ背景
--------------------------------*/
/*================================
 セクションコンテンツ薄オレンジ背景
--------------------------------*/
/*================================
 検索(絞り込み)ブロック
--------------------------------*/
/*================================
 リスト表示部分白背景ブロック
--------------------------------*/
/*=========================================
ページ内LEFTメニュー
-----------------------------------------*/
/*=========================================
タイトル付テーブルレイアウト
-----------------------------------------*/
/*=========================================
下部ページャーブロック
-----------------------------------------*/
body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1a1818;
  display: flex;
  flex-direction: column;
  background-color: #f5f4ef;
  z-index: 1;
  font-family: "Hiragino Kaku Gothic ProN", "Helvetica Neue", Arial, "Hiragino Sans", Meiryo, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1.2rem, 0.4036326942vw + 10.4863773966px, 1.6rem);
}
@media (max-width: 834px) and (orientation: portrait) {
  body {
    font-size: 1.4vw;
  }
}
@media (max-width: 480px) and (orientation: portrait) {
  body {
    font-size: 3.6vw;
  }
}
body img {
  width: 100%;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}
@media (min-width: 768px) {
  body a[href*="tel:"] {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
  }
}
@media (max-width: 480px) and (orientation: portrait) {
  body br.pc {
    display: none;
  }
}
body br.sp {
  display: none;
}
@media (max-width: 480px) and (orientation: portrait) {
  body br.sp {
    display: inline;
  }
}

html.modal-open,
body.modal-open {
  overflow: hidden;
}

/*==========================================================
	共通
==========================================================*/
main {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 174px 1fr;
  font-size: inherit;
  flex: 1;
}

section,
article {
  width: 100%;
  position: relative;
  font-size: 1em;
}

form {
  position: relative;
  width: 100%;
  font-size: 1em;
}

/*================================
入力フォーム
--------------------------------*/
input,
select,
textarea {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select,
textarea,
input[type=text],
input[type=password],
input[type=email] {
  flex-grow: 1;
  font-size: 1.6rem;
  padding-inline: 0.8em;
  height: 4rem;
  display: flex;
  align-items: center;
  border-radius: 0.6rem;
  letter-spacing: 0.04em;
  border: 1px solid #c7c7c7;
  transition: 0.2s ease-out;
}
select::placeholder,
textarea::placeholder,
input[type=text]::placeholder,
input[type=password]::placeholder,
input[type=email]::placeholder {
  color: #a8a8a8;
}
select:focus,
textarea:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus {
  border: 1px solid #335d95;
}
select:active,
textarea:active,
input[type=text]:active,
input[type=password]:active,
input[type=email]:active {
  border: 1px solid #335d95;
  background-color: #fafafa;
}
select:hover,
textarea:hover,
input[type=text]:hover,
input[type=password]:hover,
input[type=email]:hover {
  border: 1px solid #335d95;
  transition: 0.3s ease-out;
}

input[type=date] {
  background-color: #fff;
}

input[type=text],
input[type=password],
input[type=email],
textarea {
  background-color: #fff;
  field-sizing: content;
  padding-block: 0.8em;
}

svg {
  fill: transparent;
  stroke: transparent;
}

/*============================================
 フォトサイズ
--------------------------------------------*/
h2 {
  font-size: max(12px, 1.25em);
  font-weight: 700;
  letter-spacing: 0.04em;
}

h3 {
  font-size: max(12px, 1.25em);
  font-weight: 700;
}

/*==========================================
    メインコンテンツ
------------------------------------------*/
.main-contents {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2.875em;
  font-size: inherit;
  box-shadow: -0.6rem 0.3rem 0.4rem rgba(0, 0, 0, 0.08);
  z-index: 1;
  overflow-y: hidden;
  transition: 0.1s ease-out;
}
.main-contents.menu-color01 {
  background-color: #ede9d9;
}
.main-contents .block_inner {
  position: relative;
  background-color: #f8f8f8;
  font-size: 1em;
  border-radius: 1.2rem;
  padding: 2em 2em 4em;
  flex: 1;
  display: flex;
  flex-direction: column;
  transition: 0.1s ease-out;
}
.main-contents .block_inner .move_page-top {
  position: absolute;
  font-size: 12px;
  background-color: #fff;
  border-radius: 100vmax;
  bottom: 1.5em;
  right: 1.5em;
  width: 6em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-out;
}
.main-contents .block_inner .move_page-top i {
  display: inline-block;
  margin-right: 0.3em;
  padding-bottom: 0.2em;
}
@media (hover: hover) {
  .main-contents .block_inner .move_page-top:where(:any-link, :enabled, summary):hover {
    background-color: #edf1f8;
  }
}
.main-contents .block_inner .move_page-top:active {
  color: #fff;
  background-color: #335d95;
}

/*==========================================
    header(ヘッダー)
------------------------------------------*/
header {
  position: relative;
  display: grid;
  grid-template-columns: 174px 1fr;
  grid-template-rows: 1fr 113px;
  background-color: #f8f8f8;
  font-size: inherit;
}
header .item-logo {
  grid-row: span 2;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: inherit;
  background-color: var(--cp-color);
}
header .item-logo span {
  font-size: max(12px, 1.875em);
  font-weight: 700;
  line-height: 1.6em;
}
header .inner_head {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: inherit;
  padding: 0.6em;
  align-items: center;
}
header .inner_head h1 {
  font-size: max(12px, 1.5em);
  font-weight: 700;
  position: relative;
  padding-left: 1.8em;
  margin-left: 1em;
}
header .inner_head h1::before {
  content: "";
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  left: 0;
  width: 1.2em;
  aspect-ratio: 30/30;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0  30 30" fill="none"><path d="M25.61,4.39c-5.86-5.86-15.36-5.86-21.21,0-5.86,5.86-5.86,15.36,0,21.21s15.36,5.86,21.21,0c2.81-2.81,4.39-6.63,4.39-10.61,0-3.98-1.58-7.8-4.39-10.61ZM15.09,6.91h0c3.39,0,6.14,2.75,6.13,6.14,0,3.39-2.75,6.14-6.14,6.13-3.39,0-6.13-2.75-6.13-6.14,0-3.39,2.75-6.14,6.14-6.14ZM14.99,29.67h0c-2.91,0-5.76-.88-8.17-2.52.42-4.24,4.04-7.45,8.31-7.34,4.19-.1,7.78,3,8.29,7.16-2.46,1.76-5.41,2.71-8.43,2.7Z" fill="%23000000"/></svg>');
}
header .inner_head > nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 1em;
  gap: 0 1rem;
}
header .inner_head > nav button,
header .inner_head > nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: max(12px, 1em);
  background-color: #fff;
  border-radius: 0.3em;
  width: 9.6em;
  height: 2.5em;
}
header .inner_head > nav button:not(.logout),
header .inner_head > nav a:not(.logout) {
  box-shadow: 2px 2px 3px 0 rgba(53, 45, 32, 0.15);
}
header .inner_head > nav button.logout,
header .inner_head > nav a.logout {
  background-color: var(--cp-color);
  color: rgba(255, 255, 255, 0.9333333333);
}
header > nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: inherit;
}
header > nav a {
  position: relative;
  font-size: 1em;
  display: grid;
  place-items: center;
  padding-top: 3em;
  transition: 0.3s ease-out;
}
header > nav a:not(.is-active):hover {
  transition: 0.3s ease-out;
}
header > nav a:not(.is-active):hover span {
  opacity: 0.4;
  transition: 0.3s ease-out;
}
header > nav a span {
  position: relative;
  font-size: max(12px, 1em);
  font-weight: 700;
  position: relative;
  transition: 0.3s ease-out;
  display: inline-block;
}
header > nav a span::before {
  content: "";
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: calc(100% + 0.8em);
  width: 2em;
  transition: 0.3s ease-out;
}
header > nav a.menu-color-01 {
  background-color: #ede9d9;
}
header > nav a.menu-color-01 span::before {
  aspect-ratio: 34/30;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34 30" fill="none"><path d="M34,16.84L17,0,0,16.84l.69.68,3.85-3.81v16.28h24.93V13.72l3.85,3.81.69-.68ZM13.69,18.44h6.63v10.6h-6.63v-10.6ZM12.71,17.48v11.56h-7.21V12.75L17,1.36l11.49,11.39v16.29h-7.21v-11.56h-8.57Z" fill="%23000000"/></svg>');
}
header > nav a.menu-color-02 {
  background-color: #d6cfc3;
}
header > nav a.menu-color-02 span::before {
  aspect-ratio: 34/33;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34 33" fill="%23000000"><path d="M33.81,18.46l-4.6-3.13-.51-2.24,2.78-4.81c.09-.16.08-.35-.04-.49l-2.27-2.83c-.11-.14-.3-.2-.47-.15l-5.33,1.62-2.08-1L19.23.28c-.07-.17-.23-.28-.41-.28h-3.64c-.18,0-.34.11-.41.28l-2.05,5.16-2.08,1-5.33-1.62c-.17-.05-.36,0-.47.15l-2.27,2.83c-.11.14-.13.34-.04.49l2.78,4.81-.51,2.24L.19,18.46c-.15.1-.22.28-.18.46l.81,3.53c.04.18.19.31.37.34l5.51.84,1.44,1.8-.41,5.53c-.01.18.09.35.25.43l3.28,1.57c.16.08.36.05.49-.07l4.1-3.76h2.31l4.1,3.76c.08.08.19.12.3.12h0c.07,0,.13-.01.19-.04l3.28-1.57c.16-.08.26-.25.25-.43l-.41-5.53,1.44-1.8,5.51-.84c.18-.03.32-.16.36-.34l.81-3.53c.04-.18-.03-.36-.18-.46ZM32.39,21.97l-5.39.82c-.11.02-.21.07-.28.16l-1.66,2.07c-.07.09-.1.19-.09.3l.4,5.41-2.74,1.31-4-3.68c-.08-.08-.19-.12-.3-.12h-2.65,0c-.11,0-.22.04-.3.12l-4,3.68-2.74-1.31.4-5.41c0-.11-.03-.22-.09-.3l-1.66-2.07c-.07-.09-.17-.14-.28-.16l-5.39-.82-.68-2.94,4.49-3.06c.09-.06.16-.16.18-.27l.59-2.58c.02-.11,0-.22-.05-.32l-2.72-4.7,1.9-2.36,5.21,1.59c.11.03.22.02.32-.02l2.39-1.15c.1-.05.18-.13.22-.23L15.48.88h3.04l2,5.04c.04.1.12.19.22.23l2.4,1.15c.1.05.21.06.32.02l5.21-1.59,1.9,2.37-2.72,4.7c-.06.1-.07.21-.05.32l.59,2.58c.02.11.09.2.18.26l4.49,3.06-.68,2.94Z" /><path d="M17,9.47c-3.9,0-7.07,3.15-7.07,7.03s3.16,7.03,7.07,7.03c3.9,0,7.06-3.15,7.07-7.03,0-3.88-3.16-7.03-7.07-7.03ZM23.19,16.5c0,3.4-2.77,6.15-6.19,6.15-3.42,0-6.18-2.76-6.18-6.15s2.77-6.15,6.19-6.15c3.41,0,6.18,2.76,6.18,6.15h0Z" /></svg>');
}
header.cp-master {
  --cp-color: #903838;
}
header.cp-client {
  --cp-color: #386f6f;
}

/*==========================================================
    left-menu
==========================================================*/
.container-left-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: inherit;
  padding-top: 3em;
}
.container-left-menu .title {
  position: relative;
  font-size: max(12px, 1em);
  font-weight: 700;
  margin-top: 3em;
}
.container-left-menu .title::before {
  content: "";
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: calc(100% + 1em);
  width: 2.4em;
}
.container-left-menu > nav {
  display: flex;
  flex-direction: column;
  gap: 0.3em 0;
  font-size: inherit;
  width: 100%;
  padding-left: 1em;
  margin-top: 1.4em;
}
.container-left-menu > nav a {
  width: stretch;
  position: relative;
  font-size: max(12px, 0.9375em);
  padding-block: 0.4em;
  z-index: 1;
  padding-left: 0.5em;
  transition: 0.3s ease-out;
}
.container-left-menu > nav a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  z-index: -1;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  clip-path: inset(0 0 0 100%);
  transition: 0.3s ease-out;
}
.container-left-menu > nav a.is-active::after {
  clip-path: inset(0);
}
@media (hover: hover) {
  .container-left-menu > nav a:not(.is-active):where(:any-link, :enabled, summary):hover {
    color: rgba(26, 24, 24, 0.7);
    transition: 0.2s ease-out;
  }
  .container-left-menu > nav a:not(.is-active):where(:any-link, :enabled, summary):hover::after {
    clip-path: inset(0);
    transition: 0.2s ease-out;
    width: 100%;
  }
}
.container-left-menu > nav hr {
  width: stretch;
  font-size: 1em;
  height: 1px;
  border-top: 1px solid #000000;
  margin-right: 0.5em;
}
.container-left-menu.menu-color01 {
  background-color: #ede9d9;
}
.container-left-menu.menu-color01 .title::before {
  aspect-ratio: 34/30;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34 30" fill="none"><path d="M34,16.84L17,0,0,16.84l.69.68,3.85-3.81v16.28h24.93V13.72l3.85,3.81.69-.68ZM13.69,18.44h6.63v10.6h-6.63v-10.6ZM12.71,17.48v11.56h-7.21V12.75L17,1.36l11.49,11.39v16.29h-7.21v-11.56h-8.57Z" fill="%23000000"/></svg>');
}

/*==========================================================
    モーダルウィンドウ
==========================================================*/
/*=========================================
戻る・TOPボタン
-----------------------------------------*/
.link_page-back_bottom {
  font-size: max(12px, 1em);
  border: 1px solid;
  padding: 0.55em 0;
  width: 15em;
  text-align: center;
  border-radius: 0.6rem;
  align-self: center;
  color: #1a1818;
  background-color: rgba(240, 240, 240, 0);
  transition: 0.3s ease-out;
}
@media (hover: hover) {
  .link_page-back_bottom:where(:any-link, :enabled, summary):hover {
    color: rgba(26, 24, 24, 0.8);
    background-color: rgba(240, 240, 240, 0.8);
  }
}

.link_page-back_top {
  position: absolute;
  top: 1.3125em;
  right: 1.875em;
  font-size: max(12px, 1em);
  border: 1px solid;
  padding: 0.55em 0;
  width: 5em;
  text-align: center;
  border-radius: 0.6rem;
  align-self: center;
  color: #1a1818;
  background-color: rgba(240, 240, 240, 0);
  transition: 0.3s ease-out;
}
@media (max-width: 1024px) {
  .link_page-back_top {
    right: 2vw;
  }
}
@media (hover: hover) {
  .link_page-back_top:where(:any-link, :enabled, summary):hover {
    color: rgba(26, 24, 24, 0.8);
    background-color: rgba(240, 240, 240, 0.8);
  }
}

/*=========================================
店舗一覧
-----------------------------------------*/
.inner-01-01 .head_search_setting {
  display: flex;
  flex-direction: column;
  width: stretch;
  margin: 1.5em 1.4em 3.25em;
  flex-grow: 1;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 1.2rem;
}
@media (max-width: 1025px) {
  .inner-01-01 .head_search_setting {
    margin-inline: 0;
  }
}
.inner-01-01 .head_search_setting {
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
  z-index: 3;
  flex-grow: unset;
}
.inner-01-01 .head_search_setting h3 {
  background-color: #e6e6e6;
  padding: 0.6em 1.4em;
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
}
.inner-01-01 .head_search_setting dl {
  position: relative;
  font-size: inherit;
  display: grid;
  grid-template-columns: auto 1fr;
  border-top: 1px solid #c7c7c7;
}
.inner-01-01 .head_search_setting dl > div {
  font-size: inherit;
  grid-column: span 2;
  display: grid;
  grid-template-columns: subgrid;
  padding: 0.6em clamp(1rem, 1.6em, 3.6rem);
  align-items: center;
  border-bottom: 1px solid #c7c7c7;
  gap: 0 2em;
}
.inner-01-01 .head_search_setting dl dt {
  font-size: max(12px, 0.875em);
  display: flex;
  flex-direction: column;
}
.inner-01-01 .head_search_setting dl dd {
  position: relative;
  font-size: 1em;
  display: flex;
}
.inner-01-01 .head_search_setting dl .box_shop dd .select-shop-name {
  width: 100%;
  position: relative;
  font-size: inherit;
}
.inner-01-01 .head_search_setting dl .box_shop dd .select-shop-name .selectbox__head {
  transition: 0.3s ease-out;
  position: relative;
  width: 100%;
  height: 4.8rem;
  display: flex;
  align-items: center;
  padding-inline: 1.4em;
  background: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
}
.inner-01-01 .head_search_setting dl .box_shop dd .select-shop-name .selectbox__head::after {
  content: "";
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  right: 0.8em;
  width: 0.7em;
  aspect-ratio: 8/5;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 5" fill="%23403726"><path d="M7.15983 0.526429L3.57806 4.10449L0 0.526429L0.526513 -8.39464e-05L3.57806 3.05147L6.62961 -8.42131e-05L7.15613 0.526429L7.15983 0.526429Z"/></svg>');
  transition: 0.2s cubic-bezier(0.4, 0.25, 0.3, 1);
}
.inner-01-01 .head_search_setting dl .box_shop dd .select-shop-name .selectbox__head:hover {
  border-color: #335d95;
}
.inner-01-01 .head_search_setting dl .box_shop dd .select-shop-name .selectbox__head:active {
  background-color: #e6edf7;
}
.inner-01-01 .head_search_setting dl .box_shop dd .select-shop-name .selectbox__value {
  flex: 1;
  font-size: max(12px, 0.875em);
  text-align: left;
}
.inner-01-01 .head_search_setting dl .box_shop dd .select-shop-name .list-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  font-size: inherit;
  top: calc(100% + 0.4rem);
  z-index: 10;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.2s ease-out;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 2px 2px 3px 0 rgba(53, 45, 32, 0.15);
}
.inner-01-01 .head_search_setting dl .box_shop dd .select-shop-name .list-wrapper .selectbox__panel {
  font-size: inherit;
  position: relative;
  margin: 0;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  min-height: 0;
}
.inner-01-01 .head_search_setting dl .box_shop dd .select-shop-name .list-wrapper .selectbox__panel li {
  position: relative;
  font-size: inherit;
}
.inner-01-01 .head_search_setting dl .box_shop dd .select-shop-name .list-wrapper .selectbox__panel li input[type=radio] {
  position: absolute;
  inset: 0;
  pointer-events: none;
}
.inner-01-01 .head_search_setting dl .box_shop dd .select-shop-name .list-wrapper .selectbox__panel li label {
  height: 3.4rem;
  cursor: pointer;
  font-size: max(12px, 0.875em);
  padding-left: 1.4em;
  display: flex;
  align-items: center;
  padding-left: 1.4em;
}
.inner-01-01 .head_search_setting dl .box_shop dd .select-shop-name .list-wrapper .selectbox__panel li label:hover {
  background-color: #e6edf7;
}
.inner-01-01 .head_search_setting dl .box_shop dd .select-shop-name .list-wrapper .selectbox__panel li:first-of-type {
  margin-top: 1rem;
}
.inner-01-01 .head_search_setting dl .box_shop dd .select-shop-name .list-wrapper .selectbox__panel li:last-of-type {
  margin-bottom: 1rem;
}
.inner-01-01 .head_search_setting dl .box_shop dd .select-shop-name.is-selected .selectbox__head {
  background-color: #e6edf7;
  border-color: #335d95;
}
.inner-01-01 .head_search_setting dl .box_shop dd .select-shop-name.is-selected .selectbox__head::after {
  rotate: 90deg;
}
.inner-01-01 .head_search_setting dl .box_shop dd .select-shop-name.is-selected.is-open .selectbox__head::after {
  rotate: unset;
}
.inner-01-01 .head_search_setting dl .box_shop dd .select-shop-name.is-open .selectbox__head {
  border-color: #335d95;
}
.inner-01-01 .head_search_setting dl .box_shop dd .select-shop-name.is-open .list-wrapper {
  grid-template-rows: 1fr;
}
.inner-01-01 .head_search_setting dl .box_shop dd .select-shop-name.is-open .list-wrapper .selectbox__panel {
  overflow: auto;
  border-color: #335d95;
}
.inner-01-01 .head_search_setting dl .box_setting dd {
  display: flex;
  align-items: center;
  gap: 0 1em;
  padding-block: 0.3em;
}
.inner-01-01 .head_search_setting dl .box_setting dd > div {
  position: relative;
  font-size: 1em;
}
.inner-01-01 .head_search_setting dl .box_setting dd > div input[type=radio],
.inner-01-01 .head_search_setting dl .box_setting dd > div input[type=checkbox] {
  position: absolute;
  inset: 0;
  z-index: 1;
}
.inner-01-01 .head_search_setting dl .box_setting dd > div input[type=radio].read-only,
.inner-01-01 .head_search_setting dl .box_setting dd > div input[type=checkbox].read-only {
  pointer-events: none;
}
.inner-01-01 .head_search_setting dl .box_setting dd > div label {
  position: relative;
  font-size: max(12px, 1em);
  padding-left: 2.1em;
}
.inner-01-01 .head_search_setting dl .box_setting dd > div label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  translate: 0 -50%;
  width: 2.4rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid #b9b9b9;
  background-color: #fafafa;
  transition: 0.1s ease-out;
}
.inner-01-01 .head_search_setting dl .box_setting dd > div input[type=radio]:checked + label::before,
.inner-01-01 .head_search_setting dl .box_setting dd > div input[type=checkbox]:checked + label::before {
  background-color: #3a67a5;
}
.inner-01-01 .head_search_setting dl .box_setting dd > div:hover label::before {
  border-color: #335d95;
}
.inner-01-01 .head_search_setting dl .box_setting dd > div {
  margin-right: 1em;
}
.inner-01-01 .head_search_setting dl .box_setting dd > div label {
  font-size: max(12px, 0.875em);
  padding-left: 2.2em;
}
.inner-01-01 .head_search_setting .box-btn {
  position: relative;
  display: flex;
  gap: 0 1em;
  font-size: inherit;
  padding-block: 1rem;
  align-self: flex-end;
  align-items: center;
  padding-right: 2.4rem;
}
.inner-01-01 .head_search_setting .box-btn button {
  font-size: max(12px, 0.875em);
}
.inner-01-01 .head_search_setting .box-btn .item-reset {
  width: 8.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  transition: 0.3s ease-out;
  color: #1a1818;
  background-color: #fff;
  border: 1px solid #1a1818;
  border-radius: 100vmax;
}
.inner-01-01 .head_search_setting .box-btn .item-reset:hover {
  background-color: #e6edf7;
}
.inner-01-01 .head_search_setting .box-btn .item-reset:active {
  background-color: #696969;
}
.inner-01-01 .head_search_setting .box-btn .item-reset {
  height: 3.2rem;
}
.inner-01-01 .head_search_setting .box-btn .item-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  transition: 0.3s ease-out;
  color: #1a1818;
  background-color: #335d95;
  color: #fff;
}
.inner-01-01 .head_search_setting .box-btn .item-search:hover {
  opacity: 0.8;
}
.inner-01-01 .head_search_setting .box-btn .item-search:active {
  opacity: 1;
}
.inner-01-01 .head_search_setting .box-btn .item-search {
  width: 24rem;
  height: 4rem;
}
.inner-01-01 .inner_search-list {
  display: flex;
  flex-direction: column;
  width: stretch;
  margin: 1.5em 1.4em 3.25em;
  flex-grow: 1;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 1.2rem;
}
@media (max-width: 1025px) {
  .inner-01-01 .inner_search-list {
    margin-inline: 0;
  }
}
.inner-01-01 .inner_search-list {
  border-top: unset;
  border-top-left-radius: unset;
  border-top-right-radius: unset;
}
.inner-01-01 .inner_search-list > ul {
  position: relative;
  font-size: 1em;
  display: grid;
  grid-template-columns: auto 1fr auto auto auto auto auto auto;
  border-top: 1px solid #c7c7c7;
}
.inner-01-01 .inner_search-list > ul > li {
  position: relative;
  font-size: inherit;
  grid-column: span 8;
  display: grid;
  grid-template-columns: subgrid;
  border-bottom: 1px solid #c7c7c7;
  transition: 0.3s ease-out;
  z-index: 1;
}
.inner-01-01 .inner_search-list > ul > li:not(:first-of-type) {
  cursor: pointer;
  transition: 0.3s ease-out;
}
.inner-01-01 .inner_search-list > ul > li:not(:first-of-type)::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #edf1f8;
  z-index: -1;
  opacity: 0;
}
.inner-01-01 .inner_search-list > ul > li:not(:first-of-type):hover::before {
  opacity: 1;
}
.inner-01-01 .inner_search-list > ul > li:not(:first-of-type):active::before {
  background-color: #fff;
}
.inner-01-01 .inner_search-list > ul > li:not(:first-of-type):nth-of-type(2n - 1) {
  background-color: #f7f7f7;
}
.inner-01-01 .inner_search-list > ul > li > div {
  position: relative;
  font-size: max(12px, 0.875em);
}
.inner-01-01 .inner_search-list > ul > li > div:not(:last-of-type) {
  border-right: 1px solid #c7c7c7;
}
.inner-01-01 .inner_search-list > ul > li:first-of-type {
  background-color: #e6e6e6;
  min-height: 2em;
}
.inner-01-01 .inner_search-list > ul > li:first-of-type > div {
  height: 36px;
  font-size: max(12px, 0.875em);
  padding-inline: 0.8em;
  padding-inline: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inner-01-01 .inner_search-list > ul > li:first-of-type > div .wrap-sort-btn {
  display: flex;
  gap: 0 0.2rem;
  margin-left: 0.5rem;
}
.inner-01-01 .inner_search-list > ul > li:first-of-type > div .wrap-sort-btn button {
  position: relative;
  display: block;
  width: 1.8rem;
  aspect-ratio: 1;
  background-color: #f7f7f7;
  border-radius: 50%;
  transition: 0.3s ease-out;
}
.inner-01-01 .inner_search-list > ul > li:first-of-type > div .wrap-sort-btn button::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 8px;
  aspect-ratio: 1/0.85;
  background-color: #1a1818;
  clip-path: polygon(0 100%, 50% 0, 100% 100%);
  transition: 0.3se ease-out;
}
.inner-01-01 .inner_search-list > ul > li:first-of-type > div .wrap-sort-btn button.arrow-top::before {
  translate: 0 -1px;
}
.inner-01-01 .inner_search-list > ul > li:first-of-type > div .wrap-sort-btn button.arrow-bottom::before {
  scale: 1 -1;
  translate: 0 1px;
}
.inner-01-01 .inner_search-list > ul > li:first-of-type > div .wrap-sort-btn button.is-active {
  background-color: #335d95;
}
.inner-01-01 .inner_search-list > ul > li:first-of-type > div .wrap-sort-btn button.is-active::before {
  background-color: #fff;
}
.inner-01-01 .inner_search-list > ul > li:first-of-type > div .wrap-sort-btn button:not(.is-active):hover {
  background-color: #e6edf7;
}
.inner-01-01 .inner_search-list > ul > li:first-of-type > div .wrap-sort-btn button:not(.is-active):hover::before {
  background-color: #1a1818;
}
.inner-01-01 .inner_search-list > ul > li:first-of-type > div .wrap-sort-btn button:active {
  background-color: #f7f7f7;
}
.inner-01-01 .inner_search-list > ul > li:first-of-type > div .wrap-sort-btn button:active::before {
  background-color: #1a1818;
}
.inner-01-01 .inner_search-list > ul {
  padding-bottom: 2.5em;
}
.inner-01-01 .inner_search-list > ul > li:first-of-type > div {
  min-height: 5rem;
}
.inner-01-01 .inner_search-list > ul > li:first-of-type > div:has(span) {
  padding-inline: unset;
}
.inner-01-01 .inner_search-list > ul > li .id {
  font-size: max(12px, 0.875em);
  padding-inline: 1.4em;
  display: grid;
  place-items: center;
}
.inner-01-01 .inner_search-list > ul > li .wrap_shop-info {
  font-size: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 0 0.8em;
  padding: 1em;
}
.inner-01-01 .inner_search-list > ul > li .name {
  font-size: max(12px, 0.875em);
  font-weight: 700;
  width: stretch;
}
.inner-01-01 .inner_search-list > ul > li .tel,
.inner-01-01 .inner_search-list > ul > li .fax {
  font-size: 1em;
  display: flex;
}
.inner-01-01 .inner_search-list > ul > li .tel span,
.inner-01-01 .inner_search-list > ul > li .fax span {
  font-size: max(12px, 0.875em);
  display: flex;
}
.inner-01-01 .inner_search-list > ul > li .tel span::before {
  content: "TEL：";
}
.inner-01-01 .inner_search-list > ul > li .fax span::before {
  content: "FAX：";
}
.inner-01-01 .inner_search-list > ul > li .item_check,
.inner-01-01 .inner_search-list > ul > li .item_edit,
.inner-01-01 .inner_search-list > ul > li .item_photo,
.inner-01-01 .inner_search-list > ul > li .item_site {
  padding-inline: 1.4em;
  display: grid;
  place-items: center;
}
.inner-01-01 .inner_search-list > ul > li .item_check a {
  position: relative;
  font-size: inherit;
  display: grid;
  place-items: center;
  width: 3.2rem;
  aspect-ratio: 1;
}
.inner-01-01 .inner_search-list > ul > li .item_check a::before, .inner-01-01 .inner_search-list > ul > li .item_check a::after {
  content: "";
  position: absolute;
  inset: 0;
}
.inner-01-01 .inner_search-list > ul > li .item_check a::before {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  transition: 0.2s ease-out;
}
.inner-01-01 .inner_search-list > ul > li .item_check a::after {
  margin: auto;
  width: 1.8rem;
}
.inner-01-01 .inner_search-list > ul > li .item_check a:hover::before {
  background-color: white;
}
.inner-01-01 .inner_search-list > ul > li .item_check a::after {
  width: 1.6rem;
  aspect-ratio: 17/17;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 17" fill="none"><path d="M16.85,16.13l-5.38-5.38s0,0,0,0c.96-1.12,1.55-2.57,1.57-4.15,0-.03,0-.05,0-.07,0-3.37-2.57-6.15-5.85-6.48-.22-.02-.44-.03-.67-.03-.24,0-.47.01-.71.04C2.55.39,0,3.16,0,6.52s2.57,6.15,5.85,6.48c.22.02.44.03.67.03s.44-.01.66-.03c1.35-.14,2.58-.69,3.56-1.53l5.39,5.38c.1.1.23.15.36.15s.26-.05.36-.15c.2-.2.2-.52,0-.72ZM6.52,12.01c-3.03,0-5.5-2.47-5.5-5.5S3.49,1.02,6.52,1.02s5.5,2.47,5.5,5.5-2.47,5.5-5.5,5.5Z" fill="%23646464"/></svg>');
}
.inner-01-01 .inner_search-list > ul > li .item_edit a {
  position: relative;
  font-size: inherit;
  display: grid;
  place-items: center;
  width: 3.2rem;
  aspect-ratio: 1;
}
.inner-01-01 .inner_search-list > ul > li .item_edit a::before, .inner-01-01 .inner_search-list > ul > li .item_edit a::after {
  content: "";
  position: absolute;
  inset: 0;
}
.inner-01-01 .inner_search-list > ul > li .item_edit a::before {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  transition: 0.2s ease-out;
}
.inner-01-01 .inner_search-list > ul > li .item_edit a::after {
  margin: auto;
  width: 1.8rem;
}
.inner-01-01 .inner_search-list > ul > li .item_edit a:hover::before {
  background-color: white;
}
.inner-01-01 .inner_search-list > ul > li .item_edit a::after {
  width: 1.6rem;
  aspect-ratio: 30/30;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" fill="none"><path d="M24.07.17l5.76,5.77c.22.23.22.59,0,.82l-3.37,3.37h0L8.86,27.72c-.08.08-.18.13-.29.16l-7.84,2.1c-.31.09-.63-.09-.71-.4-.03-.1-.03-.2,0-.3l2.1-7.85c.02-.11.08-.21.16-.29L19.88,3.54,23.25.17c.23-.22.59-.22.82,0M21.11,3.95l4.95,4.95,2.55-2.55-4.95-4.95-2.55,2.55ZM25.24,9.71l-4.95-4.95L3.5,21.55l4.95,4.95L25.24,9.71ZM7.34,27.02l-4.35-4.35-1.59,5.94,5.94-1.59Z" fill="%23646464"/></svg>');
}
.inner-01-01 .inner_search-list > ul > li .item_photo a {
  position: relative;
  font-size: inherit;
  display: grid;
  place-items: center;
  width: 3.2rem;
  aspect-ratio: 1;
}
.inner-01-01 .inner_search-list > ul > li .item_photo a::before, .inner-01-01 .inner_search-list > ul > li .item_photo a::after {
  content: "";
  position: absolute;
  inset: 0;
}
.inner-01-01 .inner_search-list > ul > li .item_photo a::before {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  transition: 0.2s ease-out;
}
.inner-01-01 .inner_search-list > ul > li .item_photo a::after {
  margin: auto;
  width: 1.8rem;
}
.inner-01-01 .inner_search-list > ul > li .item_photo a:hover::before {
  background-color: white;
}
.inner-01-01 .inner_search-list > ul > li .item_photo a::after {
  width: 1.6rem;
  aspect-ratio: 16/16;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="%23646464"><path d="M15.93,1.49v-.02c-.23-.81-.94-1.4-1.78-1.48L1.75.02C.95.13.29.71.07,1.48v.02C-.02,5.82-.02,10.19.07,14.5H.07c.2.7.73,1.23,1.42,1.43h.02c2.14.05,4.31.07,6.45.07h0s.04,0,.04,0c2.16,0,4.34-.02,6.5-.07h.02c.68-.2,1.22-.73,1.41-1.41v-.02c.09-4.31.09-8.68,0-12.99ZM.9,1.87c.09-.54.54-.94,1.08-.98h.08s0,0,0,0h12c.53.06.96.45,1.05.98v9.53l-2.15-1.67h-.02c-.22-.14-.47-.21-.72-.22-.72.12-1.39.47-1.89,1.01-.34.3-.7.56-1.09.78-.23.13-.52.11-.73-.07-.38-.31-.73-.65-1.04-1.03h-.01c-.63-.72-1.29-1.45-2.05-1.45-.35.01-.69.14-.96.36-.57.41-1.16.94-1.72,1.44l-.1.09c-.34.3-.73.66-1.09.96l-.05.04c-.1.09-.21.17-.33.22l-.25.08V1.87ZM15.03,14.31c-.13.45-.54.77-1.01.78H2c-.34-.01-.66-.18-.86-.45-.25-.4-.32-.88-.19-1.33v-.06s4.1-3.45,4.1-3.45c.1-.07.21-.12.33-.14.02,0,.04,0,.07,0h0c.13,0,.26.05.36.14l2.11,2.13c.26.24.61.38.96.39.78-.14,1.49-.54,2.03-1.12.3-.27.61-.51.95-.74l.04-.02.52-.03,2.66,2.12v.09c0,.13,0,.27.02.44.05.42.02.84-.07,1.25Z"/><path d="M8.43,5.55c-.01,1.12.88,2.05,2,2.07h.01,0c.18,0,.37-.02.55-.06,1.07-.2,1.78-1.21,1.62-2.29h0c-.08-1.08-.97-1.92-2.04-1.92-.08,0-.16,0-.23.01-.04,0-.09,0-.13,0,0,0,0,0,0,0-1.09.11-1.88,1.08-1.77,2.17h0ZM10.4,4.06c.06,0,.11,0,.17,0h.04c.34,0,.67.14.9.39.23.25.37.56.4.9.12.72-.36,1.4-1.07,1.52-.13.03-.27.05-.4.05h-.03c-.34,0-.67-.15-.89-.41-.23-.28-.36-.63-.38-.99h0c0-.06,0-.11-.01-.16,0-.71.57-1.28,1.27-1.29Z"/></svg>');
}
.inner-01-01 .inner_search-list > ul > li .item_site a {
  position: relative;
  font-size: inherit;
  display: grid;
  place-items: center;
  width: 3.2rem;
  aspect-ratio: 1;
}
.inner-01-01 .inner_search-list > ul > li .item_site a::before, .inner-01-01 .inner_search-list > ul > li .item_site a::after {
  content: "";
  position: absolute;
  inset: 0;
}
.inner-01-01 .inner_search-list > ul > li .item_site a::before {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  transition: 0.2s ease-out;
}
.inner-01-01 .inner_search-list > ul > li .item_site a::after {
  margin: auto;
  width: 1.8rem;
}
.inner-01-01 .inner_search-list > ul > li .item_site a:hover::before {
  background-color: white;
}
.inner-01-01 .inner_search-list > ul > li .item_site a::after {
  width: 1.8rem;
  aspect-ratio: 19/17;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 17" fill="%23646464"><path d="M17.32,0H1.68C.73.03-.02.82,0,1.78v12.46c-.02.95.73,1.75,1.68,1.77h7.66v-.79H1.68c-.53-.01-.95-.45-.93-.98V4.56h17.49v9.68c.01.53-.4.97-.93.98h-.67v.79h.67c.95-.03,1.71-.82,1.68-1.77V1.78c.02-.95-.73-1.75-1.68-1.78ZM18.25,3.76H.75v-1.99c-.01-.53.4-.97.93-.98h15.63c.53.01.95.45.93.98v1.99Z"/><path d="M16.69,5.46H2.32v3.61h14.37v-3.61ZM3.06,8.28v-2.03h12.87v2.03s-12.87,0-12.87,0Z"/><path d="M2.31,13.82h5.12v-3.84H2.31v3.84ZM3.06,10.78h3.61v2.25h-3.61v-2.25Z"/><path d="M2.38,1.58s0,0,0,0c-.35-.02-.65.25-.67.6-.02.35.25.65.6.67.35.02.65-.25.67-.6,0-.01,0-.02,0-.04.01-.34-.26-.63-.6-.64Z"/><path d="M4.11,1.58s0,0,0,0c-.35-.02-.65.25-.67.6-.02.35.25.65.6.67.35.02.65-.25.67-.6,0-.01,0-.02,0-.04.01-.34-.26-.63-.6-.64Z"/><path d="M5.86,1.58s0,0,0,0c-.35-.02-.65.25-.67.6-.02.35.25.65.6.67.35.02.65-.25.67-.6,0-.01,0-.02,0-.04.01-.34-.26-.63-.6-.64Z"/><path d="M15.2,11.89l-5.98-1.9,1.8,6.31.99-1.56,2.17,2.26,1.69-1.79-2.15-2.27,1.48-1.06ZM14.85,15.22l-.64.71-2.28-2.4-.07.08c-.12.17-.23.34-.33.52-.08.14-.16.28-.25.4l-.98-3.4.06.02h.04c.51.16,1.02.33,1.52.5.51.18,1.04.36,1.57.5l-.9.68,2.25,2.38Z"/></svg>');
}
.inner-01-01 .inner_search-list > ul > li .item_status {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.inner-01-01 .inner_search-list > ul > li .item_status > div {
  font-size: 1em;
  display: grid;
  place-items: center;
  padding: 0.5em;
}
.inner-01-01 .inner_search-list > ul > li .item_status > div:first-of-type {
  border-bottom: 1px solid #c7c7c7;
}
.inner-01-01 .inner_search-list > ul > li .item_status > div.status span {
  display: grid;
  place-items: center;
  width: stretch;
  font-size: 12px;
  height: 2em;
  color: #fff;
}
.inner-01-01 .inner_search-list > ul > li .item_status > div.status.is-active span {
  background-color: #335d95;
}
.inner-01-01 .inner_search-list > ul > li .item_status > div.status.is-active span::before {
  content: "公開中";
}
.inner-01-01 .inner_search-list > ul > li .item_status > div.status.is-inactive span::before {
  content: "非公開";
  color: #b9b9b9;
}
.inner-01-01 .inner_search-list > ul > li .item_status > div.btn button {
  font-size: 12px;
  display: grid;
  place-items: center;
  border: 1px solid #1a1818;
  border-radius: 100vmax;
  height: 2em;
  width: stretch;
  padding-inline: 0.8em;
  transition: 0.3s ease-out;
}
@media (hover: hover) {
  .inner-01-01 .inner_search-list > ul > li .item_status > div.btn button:where(:any-link, :enabled, summary):hover {
    color: rgba(26, 24, 24, 0.8);
    background-color: white;
    border-color: rgba(26, 24, 24, 0.8);
  }
}

/*# sourceMappingURL=master01-01.css.map */
