@charset "UTF-8";
/*==========================================================
店舗一覧
==========================================================*/
/*
Made by Elly Loel - https://ellyloel.com/
参考記事:
- Josh W Comeau - https://courses.joshwcomeau.com/css-for-js/treasure-trove/010-global-styles/
- Andy Bell - https://piccalil.li/blog/a-modern-css-reset/
- Adam Argyle - https://unpkg.com/open-props@1.3.16/normalize.min.css / https://codepen.io/argyleink/pen/KKvRORE
メモ:
- :where()は簡単に上書きできるように詳細度を低くするために使用しています。
*/
* {
  margin: 0;
  padding: 0;
  /* line-heightをemベースでcalc()で計算。font-sizeを小さくするとline-heightは大きくなり、font-sizeを大きくするとline-heightは小さくなります。参考: https://kittygiraudel.com/2020/05/18/using-calc-to-figure-out-optimal-line-height/ */
  line-height: calc(0.25rem + 1em + 0.25rem);
  font-size: 62.5%;
  font-style: normal;
  font-weight: unset;
}

/* より直感的なボックスサイズのモデルを使用 */
*,
::before,
::after {
  box-sizing: border-box;
}

/* fieldset, progress, meter以外のすべての要素でボーダーを削除し、背景に適切なデフォルトを設定 */
*:where(:not(fieldset, progress, meter)) {
  border-width: 0;
  border-style: solid;
  background-origin: border-box;
  background-repeat: no-repeat;
}

html {
  /* アプリケーションでパーセントによる高さを許可する  */
  block-size: 100%;
  /* テキストのサイズはfont-sizeのみで制御されるようにする */
  -webkit-text-size-adjust: none;
}

/* 減速を好まないユーザーのためにスムーズなスクロールを実現 */
@media (prefers-reduced-motion: no-preference) {
  html:focus-within {
    scroll-behavior: smooth;
  }
}
body {
  /* アプリケーションでパーセントによる高さを許可する */
  min-block-size: 100%;
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-gutter#example_2 */
  /* scrollbar-gutter: stable both-edges; バグが修正されるまで削除: https://bugs.chromium.org/p/chromium/issues/detail?id=1318404#c2 */
}

/* 各メディア要素のデフォルトを改善 */
:where(img, svg, video, canvas, audio, iframe, embed, object) {
  display: block;
}

:where(img, svg, video) {
  block-size: auto;
  max-inline-size: 100%;
}

/* ストロークを削除し、fillの塗りつぶしカラーはフォントカラーを継承 */
:where(svg) {
  stroke: none;
  fill: currentColor;
}

/* fill属性のないSVG */
:where(svg):where(:not([fill])) {
  /* fillを取り除き、ストロークのカラーはフォントカラーを継承 */
  stroke: currentColor;
  fill: none;
  /* 丸みを帯びたストローク */
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* width属性のないSVGのサイズを設定 */
:where(svg):where(:not([width])) {
  inline-size: 5rem;
}

/* テキストのオーバーフローを回避 */
:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}

/* リストの役割をするul、ol要素のリストスタイルを削除。デフォルトのスタイルが削除されることを示唆しています */
:where(ul, ol, li)[role=list] {
  list-style: none;
}

ul,
ol,
li {
  list-style: none;
}

/* クラスを持たないアンカータグに、より読みやすい下線スタイルを設定。アンカータグに設定することもできますが、コンフリクトを引き起こす可能性があります */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* インタラクティブな要素は適切なカーソルを設定して操作できることを明確にする */
/* フォーカスのアウトラインをアニメーション化 */
@media (prefers-reduced-motion: no-preference) {
  :focus-visible {
    transition: outline-offset 145ms cubic-bezier(0.25, 0, 0.4, 1);
  }
  :where(:not(:active)):focus-visible {
    transition-duration: 0.25s;
  }
}
:where(:not(:active)):focus-visible {
  outline-offset: 5px;
}

/* ユーザーがボタンのテキストを選択できないようにする */
:where(button, button[type], input[type=button], input[type=submit], input[type=reset]),
:where(input[type=file])::-webkit-file-upload-button,
:where(input[type=file])::file-selector-button {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
  text-align: center;
}

/* 無効化されたボタンには無効化されたカーソルを表示 */
:where(button, button[type], input[type=button], input[type=submit], input[type=reset])[disabled] {
  cursor: not-allowed;
}

time {
  font-size: 1em;
}

/*==========================================================
	共通設定 (Primary style)
==========================================================*/
html,
body {
  height: fit-content;
  min-height: 100%;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  /* スムーススクロール */
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-size: 1.6em;
}

a {
  color: inherit;
}
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

hr {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

span,
strong,
em,
small,
i,
b {
  font-size: 1em;
}

button {
  border: none;
  text-decoration: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  appearance: none;
  cursor: pointer;
}

/*==========================================================
	formタグ
==========================================================*/
/* フォーム内のタイポグラフィのスタイルを削除 */
:where(input, button, textarea, select),
:where(input[type=file])::-webkit-file-upload-button {
  color: inherit;
  font: inherit;
  font-size: inherit;
  letter-spacing: inherit;
}

/* textareaのサイズ変更は垂直のみにし、ブラウザがサポートしている場合にのみblockにします */
/*==========================================================
	管理画面用
==========================================================*/
/*==========  サイズ設定 END  =============================*/
/* =================================
 *  サイズ変数
 * ------------------------------ */
/*==========================================================
	レスポンシブ設定
==========================================================*/
/*==========================================================
	ホバー処理
==========================================================*/
/*==========================================================
	フォント読み込み
==========================================================*/
/*==========================================================
	フォント指定
==========================================================*/
/*===============================
    デコレーションmixin
===============================*/
/*=========================================
ドロップシャドウ
-----------------------------------------*/
/*=========================================
中央寄せ
-----------------------------------------*/
/*=========================================
上部H3
-----------------------------------------*/
/*================================
 戻るボタン（上部）
--------------------------------*/
/*================================
 戻るボタン（下部）
--------------------------------*/
/*================================
 ヘッド部絞り込み検索ボタン
--------------------------------*/
/*================================
 ラジオボタン・チェックボックス
--------------------------------*/
/*=========================================
上部「戻る」ボタン
-----------------------------------------*/
/*=========================================
×ボタン
-----------------------------------------*/
/*=========================================
＋開閉ボタン
-----------------------------------------*/
/*=========================================
確定・キャンセル等ボタン
-----------------------------------------*/
/*=========================================
下部「削除する」ボタン
-----------------------------------------*/
/*=========================================
下部「削除する」ボタン
-----------------------------------------*/
/*================================
 チェックボックスボタン
--------------------------------*/
/*================================
 ラジオボタン
--------------------------------*/
/*================================
 セレクトボックス(JS併用版)
--------------------------------*/
/*================================
 ステータスボックス(JS併用版)
--------------------------------*/
/*================================
 応募状況ステータス(JS併用版)
--------------------------------*/
/*================================
 トグルスイッチ
--------------------------------*/
/*================================
 日付選択
--------------------------------*/
/*=========================================
枠線装飾
-----------------------------------------*/
/*=========================================
画像セレクト部分
-----------------------------------------*/
/*=========================================
画像セレクト時の表示リスト
-----------------------------------------*/
/*=========================================
チェックボックスリスト
-----------------------------------------*/
/*===============================
    レイアウトmixin
===============================*/
/*================================
 メインコンテンツ白背景ボックス
--------------------------------*/
/*================================
 メインコンテンツオレンジ背景
--------------------------------*/
/*================================
 セクションコンテンツ薄オレンジ背景
--------------------------------*/
/*================================
 検索(絞り込み)ブロック
--------------------------------*/
/*================================
 リスト表示部分白背景ブロック
--------------------------------*/
/*=========================================
ページ内LEFTメニュー
-----------------------------------------*/
/*=========================================
タイトル付テーブルレイアウト
-----------------------------------------*/
/*=========================================
下部ページャーブロック
-----------------------------------------*/
body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1a1818;
  display: flex;
  flex-direction: column;
  background-color: #f5f4ef;
  z-index: 1;
  font-family: "Hiragino Kaku Gothic ProN", "Helvetica Neue", Arial, "Hiragino Sans", Meiryo, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1.2rem, 0.4036326942vw + 10.4863773966px, 1.6rem);
}
@media (max-width: 834px) and (orientation: portrait) {
  body {
    font-size: 1.4vw;
  }
}
@media (max-width: 480px) and (orientation: portrait) {
  body {
    font-size: 3.6vw;
  }
}
body img {
  width: 100%;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}
@media (min-width: 768px) {
  body a[href*="tel:"] {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
  }
}
@media (max-width: 480px) and (orientation: portrait) {
  body br.pc {
    display: none;
  }
}
body br.sp {
  display: none;
}
@media (max-width: 480px) and (orientation: portrait) {
  body br.sp {
    display: inline;
  }
}

html.modal-open,
body.modal-open {
  overflow: hidden;
}

/*==========================================================
	共通
==========================================================*/
main {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 174px 1fr;
  font-size: inherit;
  flex: 1;
}

section,
article {
  width: 100%;
  position: relative;
  font-size: 1em;
}

form {
  position: relative;
  width: 100%;
  font-size: 1em;
}

/*================================
入力フォーム
--------------------------------*/
input,
select,
textarea {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select,
textarea,
input[type=text],
input[type=password],
input[type=email] {
  flex-grow: 1;
  font-size: 1.6rem;
  padding-inline: 0.8em;
  height: 4rem;
  display: flex;
  align-items: center;
  border-radius: 0.6rem;
  letter-spacing: 0.04em;
  border: 1px solid #c7c7c7;
  transition: 0.2s ease-out;
}
select::placeholder,
textarea::placeholder,
input[type=text]::placeholder,
input[type=password]::placeholder,
input[type=email]::placeholder {
  color: #a8a8a8;
}
select:focus,
textarea:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus {
  border: 1px solid #335d95;
}
select:active,
textarea:active,
input[type=text]:active,
input[type=password]:active,
input[type=email]:active {
  border: 1px solid #335d95;
  background-color: #fafafa;
}
select:hover,
textarea:hover,
input[type=text]:hover,
input[type=password]:hover,
input[type=email]:hover {
  border: 1px solid #335d95;
  transition: 0.3s ease-out;
}

input[type=date] {
  background-color: #fff;
}

input[type=text],
input[type=password],
input[type=email],
textarea {
  background-color: #fff;
  field-sizing: content;
  padding-block: 0.8em;
}

svg {
  fill: transparent;
  stroke: transparent;
}

/*============================================
 フォトサイズ
--------------------------------------------*/
h2 {
  font-size: max(12px, 1.25em);
  font-weight: 700;
  letter-spacing: 0.04em;
}

h3 {
  font-size: max(12px, 1.25em);
  font-weight: 700;
}

/*==========================================
    メインコンテンツ
------------------------------------------*/
.main-contents {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2.875em;
  font-size: inherit;
  box-shadow: -0.6rem 0.3rem 0.4rem rgba(0, 0, 0, 0.08);
  z-index: 1;
  overflow-y: hidden;
  transition: 0.1s ease-out;
}
.main-contents.menu-color01 {
  background-color: #ede9d9;
}
.main-contents .block_inner {
  position: relative;
  background-color: #f8f8f8;
  font-size: 1em;
  border-radius: 1.2rem;
  padding: 2em 2em 4em;
  flex: 1;
  display: flex;
  flex-direction: column;
  transition: 0.1s ease-out;
}
.main-contents .block_inner .move_page-top {
  position: absolute;
  font-size: 12px;
  background-color: #fff;
  border-radius: 100vmax;
  bottom: 1.5em;
  right: 1.5em;
  width: 6em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-out;
}
.main-contents .block_inner .move_page-top i {
  display: inline-block;
  margin-right: 0.3em;
  padding-bottom: 0.2em;
}
@media (hover: hover) {
  .main-contents .block_inner .move_page-top:where(:any-link, :enabled, summary):hover {
    background-color: #edf1f8;
  }
}
.main-contents .block_inner .move_page-top:active {
  color: #fff;
  background-color: #335d95;
}

/*==========================================
    header(ヘッダー)
------------------------------------------*/
header {
  position: relative;
  display: grid;
  grid-template-columns: 174px 1fr;
  grid-template-rows: 1fr 113px;
  background-color: #f8f8f8;
  font-size: inherit;
}
header .item-logo {
  grid-row: span 2;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: inherit;
  background-color: var(--cp-color);
}
header .item-logo span {
  font-size: max(12px, 1.875em);
  font-weight: 700;
  line-height: 1.6em;
}
header .inner_head {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: inherit;
  padding: 0.6em;
  align-items: center;
}
header .inner_head h1 {
  font-size: max(12px, 1.5em);
  font-weight: 700;
  position: relative;
  padding-left: 1.8em;
  margin-left: 1em;
}
header .inner_head h1::before {
  content: "";
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  left: 0;
  width: 1.2em;
  aspect-ratio: 30/30;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0  30 30" fill="none"><path d="M25.61,4.39c-5.86-5.86-15.36-5.86-21.21,0-5.86,5.86-5.86,15.36,0,21.21s15.36,5.86,21.21,0c2.81-2.81,4.39-6.63,4.39-10.61,0-3.98-1.58-7.8-4.39-10.61ZM15.09,6.91h0c3.39,0,6.14,2.75,6.13,6.14,0,3.39-2.75,6.14-6.14,6.13-3.39,0-6.13-2.75-6.13-6.14,0-3.39,2.75-6.14,6.14-6.14ZM14.99,29.67h0c-2.91,0-5.76-.88-8.17-2.52.42-4.24,4.04-7.45,8.31-7.34,4.19-.1,7.78,3,8.29,7.16-2.46,1.76-5.41,2.71-8.43,2.7Z" fill="%23000000"/></svg>');
}
header .inner_head > nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 1em;
  gap: 0 1rem;
}
header .inner_head > nav button,
header .inner_head > nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: max(12px, 1em);
  background-color: #fff;
  border-radius: 0.3em;
  width: 9.6em;
  height: 2.5em;
}
header .inner_head > nav button:not(.logout),
header .inner_head > nav a:not(.logout) {
  box-shadow: 2px 2px 3px 0 rgba(53, 45, 32, 0.15);
}
header .inner_head > nav button.logout,
header .inner_head > nav a.logout {
  background-color: var(--cp-color);
  color: rgba(255, 255, 255, 0.9333333333);
}
header > nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: inherit;
}
header > nav a {
  position: relative;
  font-size: 1em;
  display: grid;
  place-items: center;
  padding-top: 3em;
  transition: 0.3s ease-out;
}
header > nav a:not(.is-active):hover {
  transition: 0.3s ease-out;
}
header > nav a:not(.is-active):hover span {
  opacity: 0.4;
  transition: 0.3s ease-out;
}
header > nav a span {
  position: relative;
  font-size: max(12px, 1em);
  font-weight: 700;
  position: relative;
  transition: 0.3s ease-out;
  display: inline-block;
}
header > nav a span::before {
  content: "";
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: calc(100% + 0.8em);
  width: 2em;
  transition: 0.3s ease-out;
}
header > nav a.menu-color-01 {
  background-color: #ede9d9;
}
header > nav a.menu-color-01 span::before {
  aspect-ratio: 34/30;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34 30" fill="none"><path d="M34,16.84L17,0,0,16.84l.69.68,3.85-3.81v16.28h24.93V13.72l3.85,3.81.69-.68ZM13.69,18.44h6.63v10.6h-6.63v-10.6ZM12.71,17.48v11.56h-7.21V12.75L17,1.36l11.49,11.39v16.29h-7.21v-11.56h-8.57Z" fill="%23000000"/></svg>');
}
header > nav a.menu-color-02 {
  background-color: #d6cfc3;
}
header > nav a.menu-color-02 span::before {
  aspect-ratio: 34/33;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34 33" fill="%23000000"><path d="M33.81,18.46l-4.6-3.13-.51-2.24,2.78-4.81c.09-.16.08-.35-.04-.49l-2.27-2.83c-.11-.14-.3-.2-.47-.15l-5.33,1.62-2.08-1L19.23.28c-.07-.17-.23-.28-.41-.28h-3.64c-.18,0-.34.11-.41.28l-2.05,5.16-2.08,1-5.33-1.62c-.17-.05-.36,0-.47.15l-2.27,2.83c-.11.14-.13.34-.04.49l2.78,4.81-.51,2.24L.19,18.46c-.15.1-.22.28-.18.46l.81,3.53c.04.18.19.31.37.34l5.51.84,1.44,1.8-.41,5.53c-.01.18.09.35.25.43l3.28,1.57c.16.08.36.05.49-.07l4.1-3.76h2.31l4.1,3.76c.08.08.19.12.3.12h0c.07,0,.13-.01.19-.04l3.28-1.57c.16-.08.26-.25.25-.43l-.41-5.53,1.44-1.8,5.51-.84c.18-.03.32-.16.36-.34l.81-3.53c.04-.18-.03-.36-.18-.46ZM32.39,21.97l-5.39.82c-.11.02-.21.07-.28.16l-1.66,2.07c-.07.09-.1.19-.09.3l.4,5.41-2.74,1.31-4-3.68c-.08-.08-.19-.12-.3-.12h-2.65,0c-.11,0-.22.04-.3.12l-4,3.68-2.74-1.31.4-5.41c0-.11-.03-.22-.09-.3l-1.66-2.07c-.07-.09-.17-.14-.28-.16l-5.39-.82-.68-2.94,4.49-3.06c.09-.06.16-.16.18-.27l.59-2.58c.02-.11,0-.22-.05-.32l-2.72-4.7,1.9-2.36,5.21,1.59c.11.03.22.02.32-.02l2.39-1.15c.1-.05.18-.13.22-.23L15.48.88h3.04l2,5.04c.04.1.12.19.22.23l2.4,1.15c.1.05.21.06.32.02l5.21-1.59,1.9,2.37-2.72,4.7c-.06.1-.07.21-.05.32l.59,2.58c.02.11.09.2.18.26l4.49,3.06-.68,2.94Z" /><path d="M17,9.47c-3.9,0-7.07,3.15-7.07,7.03s3.16,7.03,7.07,7.03c3.9,0,7.06-3.15,7.07-7.03,0-3.88-3.16-7.03-7.07-7.03ZM23.19,16.5c0,3.4-2.77,6.15-6.19,6.15-3.42,0-6.18-2.76-6.18-6.15s2.77-6.15,6.19-6.15c3.41,0,6.18,2.76,6.18,6.15h0Z" /></svg>');
}
header.cp-master {
  --cp-color: #903838;
}
header.cp-client {
  --cp-color: #386f6f;
}

/*==========================================================
    left-menu
==========================================================*/
.container-left-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: inherit;
  padding-top: 3em;
}
.container-left-menu .title {
  position: relative;
  font-size: max(12px, 1em);
  font-weight: 700;
  margin-top: 3em;
}
.container-left-menu .title::before {
  content: "";
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: calc(100% + 1em);
  width: 2.4em;
}
.container-left-menu > nav {
  display: flex;
  flex-direction: column;
  gap: 0.3em 0;
  font-size: inherit;
  width: 100%;
  padding-left: 1em;
  margin-top: 1.4em;
}
.container-left-menu > nav a {
  width: stretch;
  position: relative;
  font-size: max(12px, 0.9375em);
  padding-block: 0.4em;
  z-index: 1;
  padding-left: 0.5em;
  transition: 0.3s ease-out;
}
.container-left-menu > nav a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  z-index: -1;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  clip-path: inset(0 0 0 100%);
  transition: 0.3s ease-out;
}
.container-left-menu > nav a.is-active::after {
  clip-path: inset(0);
}
@media (hover: hover) {
  .container-left-menu > nav a:not(.is-active):where(:any-link, :enabled, summary):hover {
    color: rgba(26, 24, 24, 0.7);
    transition: 0.2s ease-out;
  }
  .container-left-menu > nav a:not(.is-active):where(:any-link, :enabled, summary):hover::after {
    clip-path: inset(0);
    transition: 0.2s ease-out;
    width: 100%;
  }
}
.container-left-menu > nav hr {
  width: stretch;
  font-size: 1em;
  height: 1px;
  border-top: 1px solid #000000;
  margin-right: 0.5em;
}
.container-left-menu.menu-color01 {
  background-color: #ede9d9;
}
.container-left-menu.menu-color01 .title::before {
  aspect-ratio: 34/30;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34 30" fill="none"><path d="M34,16.84L17,0,0,16.84l.69.68,3.85-3.81v16.28h24.93V13.72l3.85,3.81.69-.68ZM13.69,18.44h6.63v10.6h-6.63v-10.6ZM12.71,17.48v11.56h-7.21V12.75L17,1.36l11.49,11.39v16.29h-7.21v-11.56h-8.57Z" fill="%23000000"/></svg>');
}

/*==========================================================
    モーダルウィンドウ
==========================================================*/
/*=========================================
戻る・TOPボタン
-----------------------------------------*/
.link_page-back_bottom {
  font-size: max(12px, 1em);
  border: 1px solid;
  padding: 0.55em 0;
  width: 15em;
  text-align: center;
  border-radius: 0.6rem;
  align-self: center;
  color: #1a1818;
  background-color: rgba(240, 240, 240, 0);
  transition: 0.3s ease-out;
}
@media (hover: hover) {
  .link_page-back_bottom:where(:any-link, :enabled, summary):hover {
    color: rgba(26, 24, 24, 0.8);
    background-color: rgba(240, 240, 240, 0.8);
  }
}

.link_page-back_top {
  position: absolute;
  top: 1.3125em;
  right: 1.875em;
  font-size: max(12px, 1em);
  border: 1px solid;
  padding: 0.55em 0;
  width: 5em;
  text-align: center;
  border-radius: 0.6rem;
  align-self: center;
  color: #1a1818;
  background-color: rgba(240, 240, 240, 0);
  transition: 0.3s ease-out;
}
@media (max-width: 1024px) {
  .link_page-back_top {
    right: 2vw;
  }
}
@media (hover: hover) {
  .link_page-back_top:where(:any-link, :enabled, summary):hover {
    color: rgba(26, 24, 24, 0.8);
    background-color: rgba(240, 240, 240, 0.8);
  }
}

/*=========================================
写真フォルダ
-----------------------------------------*/
.inner-01-01-01 article {
  flex-grow: unset;
}
.inner-01-01-01 article h3 {
  background-color: #e6e6e6;
  padding: 0.6em 1.4em;
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
}
.inner-01-01-01 .block_01 {
  display: flex;
  flex-direction: column;
  width: stretch;
  margin: 1.5em 1.4em 3.25em;
  flex-grow: 1;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 1.2rem;
}
@media (max-width: 1025px) {
  .inner-01-01-01 .block_01 {
    margin-inline: 0;
  }
}
.inner-01-01-01 .block_01 {
  border-bottom-right-radius: unset;
  border-bottom-left-radius: unset;
}
.inner-01-01-01 .block_01 > dl {
  position: relative;
  font-size: inherit;
  width: stretch;
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  flex: 1;
}
.inner-01-01-01 .block_01 > dl > div {
  position: relative;
  font-size: inherit;
  grid-column: span 4;
  display: grid;
  grid-template-columns: subgrid;
  border-top: 1px solid #c7c7c7;
}
.inner-01-01-01 .block_01 > dl > div:nth-of-type(2) > dt {
  place-items: start center;
  padding-top: 1.4em;
}
.inner-01-01-01 .block_01 > dl > div.is-mode-edit {
  background-color: #c7c7c7;
}
.inner-01-01-01 .block_01 > dl > div > dt {
  font-size: max(12px, 1em);
  display: grid;
  place-items: center;
  border-right: 1px solid #c7c7c7;
  padding-inline: 1.2em;
}
.inner-01-01-01 .block_01 > dl > div > dd {
  font-size: inherit;
  grid-column: span 3;
  display: inherit;
  grid-template-columns: inherit;
}
.inner-01-01-01 .block_01 > dl > div > dd > form {
  font-size: inherit;
  grid-column: inherit;
  display: grid;
  align-items: center;
  padding: 0.8em 1em;
  gap: 1em 0.8em;
  grid-template-columns: subgrid;
}
.inner-01-01-01 .block_01 > dl > div > dd > form h4 {
  font-size: max(12px, 1em);
  display: grid;
  place-items: center start;
}
.inner-01-01-01 .block_01 > dl > div > dd > form input[type=text] {
  font-size: max(12px, 1em);
  height: 2.5em;
}
.inner-01-01-01 .block_01 > dl > div > dd > form .btn_submit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  transition: 0.3s ease-out;
  color: #1a1818;
  background-color: #335d95;
  color: #fff;
}
.inner-01-01-01 .block_01 > dl > div > dd > form .btn_submit:hover {
  opacity: 0.8;
}
.inner-01-01-01 .block_01 > dl > div > dd > form .btn_submit:active {
  opacity: 1;
}
.inner-01-01-01 .block_01 > dl > div > dd > form .btn_submit {
  width: 10em;
  height: 2.5em;
}
.inner-01-01-01 .block_01 > dl > div > dd > form.box_add-photo > div {
  font-size: inherit;
  display: grid;
  grid-column: inherit;
  grid-template-columns: subgrid;
  align-items: center;
}
.inner-01-01-01 .block_01 > dl > div > dd > form.box_add-photo > div.wrap_01 .select-folder-name {
  width: 100%;
  grid-column: span 2;
  position: relative;
  font-size: inherit;
}
.inner-01-01-01 .block_01 > dl > div > dd > form.box_add-photo > div.wrap_01 .select-folder-name .selectbox__head {
  transition: 0.3s ease-out;
  position: relative;
  width: 100%;
  height: 4.8rem;
  display: flex;
  align-items: center;
  padding-inline: 1.4em;
  background: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
}
.inner-01-01-01 .block_01 > dl > div > dd > form.box_add-photo > div.wrap_01 .select-folder-name .selectbox__head::after {
  content: "";
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  right: 0.8em;
  width: 0.7em;
  aspect-ratio: 8/5;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 5" fill="%23403726"><path d="M7.15983 0.526429L3.57806 4.10449L0 0.526429L0.526513 -8.39464e-05L3.57806 3.05147L6.62961 -8.42131e-05L7.15613 0.526429L7.15983 0.526429Z"/></svg>');
  transition: 0.2s cubic-bezier(0.4, 0.25, 0.3, 1);
}
.inner-01-01-01 .block_01 > dl > div > dd > form.box_add-photo > div.wrap_01 .select-folder-name .selectbox__head:hover {
  border-color: #335d95;
}
.inner-01-01-01 .block_01 > dl > div > dd > form.box_add-photo > div.wrap_01 .select-folder-name .selectbox__head:active {
  background-color: #e6edf7;
}
.inner-01-01-01 .block_01 > dl > div > dd > form.box_add-photo > div.wrap_01 .select-folder-name .selectbox__value {
  flex: 1;
  font-size: max(12px, 0.875em);
  text-align: left;
}
.inner-01-01-01 .block_01 > dl > div > dd > form.box_add-photo > div.wrap_01 .select-folder-name .list-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  font-size: inherit;
  top: calc(100% + 0.4rem);
  z-index: 10;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.2s ease-out;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 2px 2px 3px 0 rgba(53, 45, 32, 0.15);
}
.inner-01-01-01 .block_01 > dl > div > dd > form.box_add-photo > div.wrap_01 .select-folder-name .list-wrapper .selectbox__panel {
  font-size: inherit;
  position: relative;
  margin: 0;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  min-height: 0;
}
.inner-01-01-01 .block_01 > dl > div > dd > form.box_add-photo > div.wrap_01 .select-folder-name .list-wrapper .selectbox__panel li {
  position: relative;
  font-size: inherit;
}
.inner-01-01-01 .block_01 > dl > div > dd > form.box_add-photo > div.wrap_01 .select-folder-name .list-wrapper .selectbox__panel li input[type=radio] {
  position: absolute;
  inset: 0;
  pointer-events: none;
}
.inner-01-01-01 .block_01 > dl > div > dd > form.box_add-photo > div.wrap_01 .select-folder-name .list-wrapper .selectbox__panel li label {
  height: 3.4rem;
  cursor: pointer;
  font-size: max(12px, 0.875em);
  padding-left: 1.4em;
  display: flex;
  align-items: center;
  padding-left: 1.4em;
}
.inner-01-01-01 .block_01 > dl > div > dd > form.box_add-photo > div.wrap_01 .select-folder-name .list-wrapper .selectbox__panel li label:hover {
  background-color: #e6edf7;
}
.inner-01-01-01 .block_01 > dl > div > dd > form.box_add-photo > div.wrap_01 .select-folder-name .list-wrapper .selectbox__panel li:first-of-type {
  margin-top: 1rem;
}
.inner-01-01-01 .block_01 > dl > div > dd > form.box_add-photo > div.wrap_01 .select-folder-name .list-wrapper .selectbox__panel li:last-of-type {
  margin-bottom: 1rem;
}
.inner-01-01-01 .block_01 > dl > div > dd > form.box_add-photo > div.wrap_01 .select-folder-name.is-selected .selectbox__head {
  background-color: #e6edf7;
  border-color: #335d95;
}
.inner-01-01-01 .block_01 > dl > div > dd > form.box_add-photo > div.wrap_01 .select-folder-name.is-selected .selectbox__head::after {
  rotate: 90deg;
}
.inner-01-01-01 .block_01 > dl > div > dd > form.box_add-photo > div.wrap_01 .select-folder-name.is-selected.is-open .selectbox__head::after {
  rotate: unset;
}
.inner-01-01-01 .block_01 > dl > div > dd > form.box_add-photo > div.wrap_01 .select-folder-name.is-open .selectbox__head {
  border-color: #335d95;
}
.inner-01-01-01 .block_01 > dl > div > dd > form.box_add-photo > div.wrap_01 .select-folder-name.is-open .list-wrapper {
  grid-template-rows: 1fr;
}
.inner-01-01-01 .block_01 > dl > div > dd > form.box_add-photo > div.wrap_01 .select-folder-name.is-open .list-wrapper .selectbox__panel {
  overflow: auto;
  border-color: #335d95;
}
.inner-01-01-01 .block_01 > dl > div > dd > form.box_add-photo > div.wrap_02 {
  display: flex;
  gap: 0 1em;
}
.inner-01-01-01 .block_01 > dl > div > dd > form.box_add-photo > div.wrap_02 .check-details {
  width: stretch;
  font-size: 1em;
  display: flex;
  gap: 0 0.5em;
}
.inner-01-01-01 .block_01 > dl > div > dd > form.box_add-photo > div.wrap_02 .check-details .wrap_btn {
  position: relative;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.3em 0;
  align-self: flex-end;
  width: 4rem;
}
.inner-01-01-01 .block_01 > dl > div > dd > form.box_add-photo > div.wrap_02 .check-details .wrap_btn > div {
  position: relative;
  width: 4rem;
}
.inner-01-01-01 .block_01 > dl > div > dd > form.box_add-photo > div.wrap_02 .check-details .wrap_btn > div button {
  aspect-ratio: 1;
  position: relative;
  width: 100%;
}
.inner-01-01-01 .block_01 > dl > div > dd > form.box_add-photo > div.wrap_02 .check-details .wrap_btn > div button::before, .inner-01-01-01 .block_01 > dl > div > dd > form.box_add-photo > div.wrap_02 .check-details .wrap_btn > div button::after {
  content: "";
  position: absolute;
  inset: 0;
}
.inner-01-01-01 .block_01 > dl > div > dd > form.box_add-photo > div.wrap_02 .check-details .wrap_btn > div button::before {
  border-radius: 50%;
  background-color: rgba(230, 237, 247, 0);
  transition: 0.2s ease-out;
}
.inner-01-01-01 .block_01 > dl > div > dd > form.box_add-photo > div.wrap_02 .check-details .wrap_btn > div button::after {
  margin: auto;
  width: 1.8rem;
}
.inner-01-01-01 .block_01 > dl > div > dd > form.box_add-photo > div.wrap_02 .check-details .wrap_btn > div button:hover::before {
  background-color: #e6edf7;
}
.inner-01-01-01 .block_01 > dl > div > dd > form.box_add-photo > div.wrap_02 .check-details .wrap_btn .item_reload button::after {
  aspect-ratio: 28/28;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" fill="%23646464"><path d="M1.62,10.45C3.6,3.59,10.76-.36,17.61,1.62c1.49.46,2.89,1.15,4.15,2.05-.01.07-.07.09-.14.1-.6.1-2.08-.14-1.94.79.07.46.54.42.9.41.71-.02,1.76-.12,2.46-.22.46-.07.73-.15.74-.68-.2-.94-.08-2.08-.29-3-.01-.09-.05-.18-.11-.25-.18-.24-.53-.28-.76-.09-.5.38.01,1.61-.13,2.16-1.54-1.21-3.32-2.08-5.23-2.53l-2.28-.37h-1.97C6.07.54.55,6.06.01,13.02c-.04.64.03,1.32,0,1.97l.24,1.65c.2,1.02.5,2.01.92,2.97.07.19.24.32.44.35.31.05.59-.16.64-.47-.2-.8-.56-1.57-.76-2.39-.53-2.19-.49-4.49.14-6.65Z"/><path d="M27.48,10.17c-.18-.67-.42-1.32-.74-1.94-.09-.1-.22-.16-.35-.17-.31-.03-.6.19-.63.51.47,1.18.81,2.41,1.03,3.67.13.97.15,1.96.06,2.94-.66,7.11-6.96,12.34-14.07,11.68-2.4-.23-4.69-1.14-6.59-2.62.54-.11,1.18-.06,1.72-.17.24-.04.42-.22.46-.46.05-.3-.16-.58-.46-.63-.95.09-1.95.08-2.89.22-.57.08-.77.18-.74.79.03.76.12,1.76.22,2.51.04.29.06.6.33.76.48.27.93-.22.82-.71l-.16-1.39,1.97,1.23c3.17,1.67,6.86,2.06,10.31,1.09,7.46-2.09,11.81-9.84,9.72-17.31Z"/><path d="M20,21.37h.01c.66-.18,1.18-.7,1.36-1.36h0v-.02c.09-3.97.09-7.99,0-11.96h0v-.03c-.21-.78-.89-1.35-1.7-1.42h-11.4s0,.01,0,.01c-.77.11-1.4.66-1.61,1.41h0v.03c-.09,3.97-.09,7.99,0,11.96h0v.02c.18.66.7,1.18,1.36,1.36h.03c1.98.04,3.99.07,5.97.07h0c1.99-.01,4-.03,5.97-.08h.01ZM7.55,8.39c.08-.46.46-.81.93-.85h0s.06,0,.06,0h11.04c.45.05.82.39.9.84v8.61l-1.87-1.47h0c-.21-.13-.45-.2-.7-.2-.68.11-1.31.44-1.79.95-.3.27-.64.51-.99.72-.19.11-.43.09-.59-.06-.35-.28-.66-.59-.95-.94-.59-.67-1.2-1.35-1.94-1.35-.34.01-.66.13-.92.34-.56.4-1.13.92-1.69,1.41-.33.3-.68.6-1.01.88l-.05.04c-.08.08-.18.15-.29.19l-.13.05v-9.17ZM8.5,20.47c-.29-.01-.56-.15-.74-.38-.22-.35-.28-.77-.17-1.17v-.03s3.74-3.15,3.74-3.15c.08-.06.17-.1.27-.12h.05c.11,0,.21.04.29.11l1.93,1.97c.26.23.59.37.94.38.74-.13,1.41-.5,1.91-1.06.27-.24.56-.47.86-.67h.02s.44-.04.44-.04l2.4,1.92v.05c0,.13,0,.26.02.41.04.38.02.76-.06,1.12-.11.39-.47.67-.87.67h0s-11.04,0-11.04,0Z"/><path d="M16.24,13.73h0c.18,0,.35-.02.53-.06,1.02-.19,1.7-1.16,1.55-2.18-.07-1.02-.92-1.82-1.94-1.83-.07,0-.15,0-.22.01-.04,0-.08,0-.12,0-1.04.1-1.8,1.03-1.69,2.07-.01,1.07.84,1.95,1.91,1.98ZM16.22,10.46s.1,0,.15,0h0c.31-.02.61.11.82.33.2.22.32.5.35.79.1.62-.31,1.21-.94,1.33-.12.03-.24.04-.36.04-.3,0-.59-.12-.79-.35-.2-.25-.32-.55-.33-.87,0-.04,0-.09,0-.13,0-.62.49-1.12,1.11-1.12Z"/></svg>');
  width: 70%;
}
.inner-01-01-01 .block_01 > dl > div > dd > form.box_add-photo > div.wrap_02 .check-details .wrap_btn .item_delate button::after {
  aspect-ratio: 20/25;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 25" fill="%23646464"><path d="M19.92,3.8c-.07-.71-.62-1.3-1.34-1.43h-5.34v-.97c0-.45-.67-1.12-1.16-1.26-.77-.12-1.55-.16-2.32-.13-.84,0-1.67.03-2.06.05-.73.06-1.57.71-1.57,1.45v.85l-4.78.02C.27,2.58-.15,3.52.05,5.33c.07.43.29.81.63,1.08.06.04.12.08.2.11.18.05.31.22.32.41.12,5.13.26,9.6.42,13.67,0,.16,0,.32,0,.48v.23c-.02.41,0,.83.05,1.24.19,1.28,1.22,2.25,2.51,2.36.64-.03,1.33-.05,2.11-.05,1.09,0,2.22.03,3.31.06h.07c1.11.03,2.25.07,3.38.07v-.1h0v.11c.98,0,1.84-.03,2.63-.08.03,0,.05,0,.07,0,1.06,0,1.98-.67,2.32-1.68.29-1.05.4-2.13.33-3.21,0-.39,0-.74,0-1.07.03-.8.06-1.6.08-2.41v-.2c.12-3.06.23-6.23.28-9.35,0-.22.15-.42.37-.5.09-.05.18-.1.25-.17l.02-.02c.52-.73.7-1.64.51-2.5ZM2.61,22.21l-.47-15.49h15.69l-.48,15.59c-.08.85-.75,1.51-1.6,1.58H4.1c-.83-.13-1.46-.84-1.5-1.69ZM11.81,1.09h.03c.47.19.46.73.45,1.13v.14h-5.15v-.29c-.01-.52.02-.93.62-.99.53-.05,1.18-.05,2.19,0,.43.02.85.03,1.25.03.23,0,.44,0,.62-.02ZM18.97,4.99c.04.38-.23.72-.6.77H1.6c-.45-.06-.57-.36-.61-.8-.1-.48-.03-.99.21-1.4.12-.14.29-.22.47-.23l16.53-.02s.02,0,.02,0c.2,0,.39.08.52.22.26.43.34.93.23,1.42v.02s0,.02,0,.02Z"/>  <path  d="M9.53,20.61c.07.19.25.32.45.32v-.1s0,0,0,0h0v.1c.28-.01.49-.23.5-.5v-10.14s0-.03,0-.04c0-.28-.23-.51-.51-.51-.05,0-.1,0-.17.02-.2.09-.33.29-.33.51l.04,10.3v.04Z"/>  <path  d="M13.15,20.63c.07.17.23.28.41.28.01,0,.02,0,.04,0h0c.1,0,.19-.03.28-.09.22-.16.22-.37.2-.64,0-.09,0-.19,0-.28.17-2.62.22-5.4.26-8.03v-.1c0-.06,0-.14,0-.21.03-.51.02-1.03-.03-1.56-.06-.2-.28-.27-.47-.27-.06,0-.11,0-.17.02-.16.04-.26.19-.29.43-.04.5-.06,1-.04,1.49,0,.27.01.59,0,.89-.02.73-.05,1.47-.08,2.19v.14c-.06,1.28-.11,2.6-.13,3.89,0,.04,0,.08,0,.13,0,.07,0,.15,0,.24-.03.48-.03.97.02,1.45v.03Z"/><path  d="M5.64,11.59c.02.23.03.47.04.71.02.74.03,1.5.04,2.23v.24c.03,1.58.05,3.21.11,4.81,0,.19.03.4.05.6v.12c.02.11.03.21.04.32v.04c.1.16.26.25.44.25,0,0,0,0,.01,0,.23,0,.43-.16.46-.39.04-.48.04-.96-.02-1.43v-.14c-.03-.2-.04-.4-.04-.6-.01-.59-.02-1.2-.03-1.79v-.31c-.03-1.82-.06-3.69-.18-5.51,0-.07,0-.15,0-.23,0-.49-.04-.8-.42-.8-.08,0-.15.01-.23.03-.17.04-.27.19-.29.43-.03.46-.02.92.02,1.38v.03ZM6.38,20.86v-.04h0,0s0,.04,0,.04Z"/></svg>');
  width: 50%;
}
.inner-01-01-01 .block_01 > dl > div > dd > form.box_add-photo > div.wrap_02 .btn_select {
  width: 100%;
  max-width: 14rem;
  height: 2.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  transition: 0.3s ease-out;
  color: #1a1818;
  background-color: #fff;
  border: 1px solid #1a1818;
  border-radius: 100vmax;
}
.inner-01-01-01 .block_01 > dl > div > dd > form.box_add-photo > div.wrap_02 .btn_select:hover {
  background-color: #e6edf7;
}
.inner-01-01-01 .block_01 > dl > div > dd > form.box_add-photo > div.wrap_02 .btn_select:active {
  background-color: #696969;
}
.inner-01-01-01 .block_01 > dl > div > dd > form.box_add-photo > div.wrap_02 > ul {
  font-size: inherit;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em 1em;
}
.inner-01-01-01 .block_01 > dl > div > dd > form.box_add-photo > div.wrap_02 > ul > li {
  font-size: max(12px, 1em);
  display: flex;
  align-items: center;
  gap: 0 0.5em;
}
.inner-01-01-01 .block_01 > dl > div > dd > form.box_add-photo > div.wrap_02 > ul > li .btn_close {
  position: relative;
  display: grid;
  place-items: center;
  width: 2rem;
  aspect-ratio: 1;
  border: 1px solid #1a1818;
  border-radius: 50%;
}
.inner-01-01-01 .block_01 > dl > div > dd > form.box_add-photo > div.wrap_02 > ul > li .btn_close::before, .inner-01-01-01 .block_01 > dl > div > dd > form.box_add-photo > div.wrap_02 > ul > li .btn_close::after {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 0.8rem;
  height: 1px;
  background-color: #1a1818;
}
.inner-01-01-01 .block_01 > dl > div > dd > form.box_add-photo > div.wrap_02 > ul > li .btn_close::before {
  rotate: 45deg;
}
.inner-01-01-01 .block_01 > dl > div > dd > form.box_add-photo > div.wrap_02 > ul > li .btn_close::after {
  rotate: -45deg;
}
.inner-01-01-01 .block_01 > dl > div > dd > form.box_add-photo > div.wrap_03 input[type=text] {
  grid-column: span 2;
}
.inner-01-01-01 .block_01 > dl > div > dd > form.box_add-photo > div.wrap_04 > ul {
  grid-column: span 2;
  font-size: inherit;
  display: flex;
  flex-direction: column;
}
.inner-01-01-01 .block_01 > dl > div > dd > form.box_add-photo > div.wrap_04 > ul li {
  font-size: max(12px, 0.875em);
}
.inner-01-01-01 .block_02 {
  display: flex;
  flex-direction: column;
  width: stretch;
  margin: 1.5em 1.4em 3.25em;
  flex-grow: 1;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 1.2rem;
}
@media (max-width: 1025px) {
  .inner-01-01-01 .block_02 {
    margin-inline: 0;
  }
}
.inner-01-01-01 .block_02 {
  flex-direction: row;
}
.inner-01-01-01 .block_02 section {
  display: flex;
  flex-direction: column;
}
.inner-01-01-01 .block_02 .inner_left {
  border-right: 1px solid #c7c7c7;
  max-width: 27rem;
  max-height: 90vh;
  max-height: 90dvh;
  overflow-y: scroll;
}
.inner-01-01-01 .block_02 .inner_left h4 {
  font-size: max(12px, 1em);
  font-weight: 700;
  padding: 1em;
}
.inner-01-01-01 .block_02 .inner_left > nav {
  position: relative;
  font-size: inherit;
  display: grid;
  grid-template-columns: 1fr auto;
  padding-bottom: 2em;
  border-top: 1px solid #c7c7c7;
}
.inner-01-01-01 .block_02 .inner_left > nav > button {
  border-bottom: 1px solid #c7c7c7;
  grid-column: span 2;
  display: grid;
  grid-template-columns: subgrid;
  font-size: inherit;
  padding: 0.8em;
  transition: 0.3s ease-out;
}
.inner-01-01-01 .block_02 .inner_left > nav > button:nth-of-type(2n) {
  background-color: #fafafa;
}
.inner-01-01-01 .block_02 .inner_left > nav > button:hover {
  background-color: #335d95;
}
.inner-01-01-01 .block_02 .inner_left > nav > button:hover h5 {
  color: #fff;
}
.inner-01-01-01 .block_02 .inner_left > nav > button:hover span {
  background-color: #f8f8f8;
  color: #335d95;
  font-weight: 700;
}
.inner-01-01-01 .block_02 .inner_left > nav > button h5 {
  font-size: max(12px, 0.875em);
  font-weight: 700;
  text-align: left;
  line-height: 1.6em;
}
.inner-01-01-01 .block_02 .inner_left > nav > button span {
  background-color: #000000;
  transition: 0.3s ease-out;
  color: #fff;
  display: grid;
  place-items: center;
  width: 3rem;
  height: 2rem;
  font-size: 12px;
  border-radius: 4px;
  align-self: start;
}
.inner-01-01-01 .block_02 .inner_right {
  padding: 1em 1.4em 3em;
  flex: 1;
  max-height: 90vh;
  max-height: 90dvh;
  overflow-y: scroll;
}
.inner-01-01-01 .block_02 .inner_right .item_edit {
  position: relative;
  font-size: inherit;
  display: grid;
  place-items: center;
  width: 3.2rem;
  aspect-ratio: 1;
}
.inner-01-01-01 .block_02 .inner_right .item_edit::before, .inner-01-01-01 .block_02 .inner_right .item_edit::after {
  content: "";
  position: absolute;
  inset: 0;
}
.inner-01-01-01 .block_02 .inner_right .item_edit::before {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  transition: 0.2s ease-out;
}
.inner-01-01-01 .block_02 .inner_right .item_edit::after {
  margin: auto;
  width: 1.8rem;
}
.inner-01-01-01 .block_02 .inner_right .item_edit:hover::before {
  background-color: white;
}
.inner-01-01-01 .block_02 .inner_right .item_edit::after {
  width: 1.6rem;
  aspect-ratio: 30/30;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" fill="none"><path d="M24.07.17l5.76,5.77c.22.23.22.59,0,.82l-3.37,3.37h0L8.86,27.72c-.08.08-.18.13-.29.16l-7.84,2.1c-.31.09-.63-.09-.71-.4-.03-.1-.03-.2,0-.3l2.1-7.85c.02-.11.08-.21.16-.29L19.88,3.54,23.25.17c.23-.22.59-.22.82,0M21.11,3.95l4.95,4.95,2.55-2.55-4.95-4.95-2.55,2.55ZM25.24,9.71l-4.95-4.95L3.5,21.55l4.95,4.95L25.24,9.71ZM7.34,27.02l-4.35-4.35-1.59,5.94,5.94-1.59Z" fill="%23646464"/></svg>');
}
.inner-01-01-01 .block_02 .inner_right .item_delate {
  position: relative;
  font-size: inherit;
  display: grid;
  place-items: center;
  width: 3.2rem;
  aspect-ratio: 1;
}
.inner-01-01-01 .block_02 .inner_right .item_delate::before, .inner-01-01-01 .block_02 .inner_right .item_delate::after {
  content: "";
  position: absolute;
  inset: 0;
}
.inner-01-01-01 .block_02 .inner_right .item_delate::before {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  transition: 0.2s ease-out;
}
.inner-01-01-01 .block_02 .inner_right .item_delate::after {
  margin: auto;
  width: 1.8rem;
}
.inner-01-01-01 .block_02 .inner_right .item_delate:hover::before {
  background-color: white;
}
.inner-01-01-01 .block_02 .inner_right .item_delate::after {
  width: 1.4rem;
  aspect-ratio: 20/25;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 25" fill="%23646464"><path d="M19.92,3.8c-.07-.71-.62-1.3-1.34-1.43h-5.34v-.97c0-.45-.67-1.12-1.16-1.26-.77-.12-1.55-.16-2.32-.13-.84,0-1.67.03-2.06.05-.73.06-1.57.71-1.57,1.45v.85l-4.78.02C.27,2.58-.15,3.52.05,5.33c.07.43.29.81.63,1.08.06.04.12.08.2.11.18.05.31.22.32.41.12,5.13.26,9.6.42,13.67,0,.16,0,.32,0,.48v.23c-.02.41,0,.83.05,1.24.19,1.28,1.22,2.25,2.51,2.36.64-.03,1.33-.05,2.11-.05,1.09,0,2.22.03,3.31.06h.07c1.11.03,2.25.07,3.38.07v-.1h0v.11c.98,0,1.84-.03,2.63-.08.03,0,.05,0,.07,0,1.06,0,1.98-.67,2.32-1.68.29-1.05.4-2.13.33-3.21,0-.39,0-.74,0-1.07.03-.8.06-1.6.08-2.41v-.2c.12-3.06.23-6.23.28-9.35,0-.22.15-.42.37-.5.09-.05.18-.1.25-.17l.02-.02c.52-.73.7-1.64.51-2.5ZM2.61,22.21l-.47-15.49h15.69l-.48,15.59c-.08.85-.75,1.51-1.6,1.58H4.1c-.83-.13-1.46-.84-1.5-1.69ZM11.81,1.09h.03c.47.19.46.73.45,1.13v.14h-5.15v-.29c-.01-.52.02-.93.62-.99.53-.05,1.18-.05,2.19,0,.43.02.85.03,1.25.03.23,0,.44,0,.62-.02ZM18.97,4.99c.04.38-.23.72-.6.77H1.6c-.45-.06-.57-.36-.61-.8-.1-.48-.03-.99.21-1.4.12-.14.29-.22.47-.23l16.53-.02s.02,0,.02,0c.2,0,.39.08.52.22.26.43.34.93.23,1.42v.02s0,.02,0,.02Z"/>  <path  d="M9.53,20.61c.07.19.25.32.45.32v-.1s0,0,0,0h0v.1c.28-.01.49-.23.5-.5v-10.14s0-.03,0-.04c0-.28-.23-.51-.51-.51-.05,0-.1,0-.17.02-.2.09-.33.29-.33.51l.04,10.3v.04Z"/>  <path  d="M13.15,20.63c.07.17.23.28.41.28.01,0,.02,0,.04,0h0c.1,0,.19-.03.28-.09.22-.16.22-.37.2-.64,0-.09,0-.19,0-.28.17-2.62.22-5.4.26-8.03v-.1c0-.06,0-.14,0-.21.03-.51.02-1.03-.03-1.56-.06-.2-.28-.27-.47-.27-.06,0-.11,0-.17.02-.16.04-.26.19-.29.43-.04.5-.06,1-.04,1.49,0,.27.01.59,0,.89-.02.73-.05,1.47-.08,2.19v.14c-.06,1.28-.11,2.6-.13,3.89,0,.04,0,.08,0,.13,0,.07,0,.15,0,.24-.03.48-.03.97.02,1.45v.03Z"/><path  d="M5.64,11.59c.02.23.03.47.04.71.02.74.03,1.5.04,2.23v.24c.03,1.58.05,3.21.11,4.81,0,.19.03.4.05.6v.12c.02.11.03.21.04.32v.04c.1.16.26.25.44.25,0,0,0,0,.01,0,.23,0,.43-.16.46-.39.04-.48.04-.96-.02-1.43v-.14c-.03-.2-.04-.4-.04-.6-.01-.59-.02-1.2-.03-1.79v-.31c-.03-1.82-.06-3.69-.18-5.51,0-.07,0-.15,0-.23,0-.49-.04-.8-.42-.8-.08,0-.15.01-.23.03-.17.04-.27.19-.29.43-.03.46-.02.92.02,1.38v.03ZM6.38,20.86v-.04h0,0s0,.04,0,.04Z"/></svg>');
}
.inner-01-01-01 .block_02 .inner_right .box_head {
  display: flex;
  justify-content: space-between;
  font-size: inherit;
  gap: 0 0.5em;
  padding: 0.5em;
}
.inner-01-01-01 .block_02 .inner_right .box_head h4 {
  font-size: max(12px, 1.25em);
  font-weight: 700;
  margin-right: auto;
}
.inner-01-01-01 .block_02 .inner_right .box_head .item_edit:hover::before,
.inner-01-01-01 .block_02 .inner_right .box_head .item_delate:hover::before {
  background-color: #edf1f8;
}
.inner-01-01-01 .block_02 .inner_right > ul {
  width: stretch;
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  font-size: inherit;
  border-top: 1px solid #c7c7c7;
}
.inner-01-01-01 .block_02 .inner_right > ul > li {
  grid-column: span 4;
  display: grid;
  font-size: inherit;
  grid-template-columns: subgrid;
  border-bottom: 1px solid #c7c7c7;
  padding: 0.5em;
  transition: 0.3s ease-out;
}
.inner-01-01-01 .block_02 .inner_right > ul > li:nth-of-type(2n) {
  background-color: #fafafa;
}
.inner-01-01-01 .block_02 .inner_right > ul > li:hover {
  background-color: #edf1f8;
}
.inner-01-01-01 .block_02 .inner_right > ul > li > form {
  font-size: inherit;
  grid-column: span 4;
  display: inherit;
  grid-template-columns: inherit;
  align-items: center;
  gap: 0 0.5em;
  font-size: inherit;
}
.inner-01-01-01 .block_02 .inner_right > ul > li > form .title {
  font-size: max(12px, 0.875em);
  line-height: 1.4em;
  letter-spacing: 0.04em;
}
.inner-01-01-01 .block_02 .inner_right > ul > li > form .item_image {
  width: 6.4rem;
}
.inner-01-01-01 .block_02 .inner_right > ul > li > form .item_image img {
  aspect-ratio: 1.34;
  object-fit: cover;
}

/*# sourceMappingURL=master01-01-01.css.map */
